section.mma-logo
  .container
    h2.title.title--mma-logo
      | Нанесение индивидуальных логотипов
    p.mma-logo__subtitle
      | Разместим логотип или слоган вашего клуба или партнеров на помосте клетки
    .mma-logo__grid.negative-m
      .mma-logo__col-left
        img.mma-logo__img(
          src="img/content/mma/dodjang.png",
          alt=""
        )
      .mma-logo__col-right
        h3.mma-logo__heading
          | Размеры логотипов для размещения
        .control-group.control-group--mma-logo
          .control-item
            .control-item__label 1400 х 640 см
          .control-item
            .control-item__label 1940 х 380 см
          .control-item
            .control-item__label 1600 х 580 см
          .control-item
            .control-item__label 2140 х 510 см
          .control-item
            .control-item__label 2240 х 570 см
          .control-item
            .control-item__label 1850 х 410 см
          .control-item
            .control-item__label 2050 х 790 см
          .control-item
            .control-item__label 2000 х 800 см

        .mma-logo__notes
          .mma-logo__notes-text
            | Произведем клетки ММА в индивидуальных цветах
          button.button(

          ) Оставить заявку

