section.mat-options
  .container
    h2.title.title--mat-options Варианты исполнения

    ul.mat-options__list
      li.mat-options__item
        .card.card--mat-options
          figure.card-media
            .card-media__content
              img(src="img/content/mat/options/img-1.jpg", alt="")
          .card__foot
            img(src="img/general/card-logo.png", alt="")
        .mat-options__item-foot
          span.mat-options__item-title
            | Наполнитель ППЭ
          span.mat-options__item-subtitle
            |  Плотность 200 кг/м<sup>3</sup> 

      li.mat-options__item
        .card.card--mat-options
          figure.card-media
            .card-media__content
              img(src="img/content/mat/options/img-1.jpg", alt="")
          .card__foot
            img(src="img/general/card-logo.png", alt="")
        .mat-options__item-foot
          span.mat-options__item-title
            | Ручки переноса
          span.mat-options__item-subtitle
            | Для удобной транспортации

      li.mat-options__item
        .card.card--mat-options
          figure.card-media
            .card-media__content
              img(src="img/content/mat/options/img-1.jpg", alt="")
          .card__foot
            img(src="img/general/card-logo.png", alt="")
        .mat-options__item-foot
          span.mat-options__item-title
            | Молния
          span.mat-options__item-subtitle
            | Доступ к наполнителю мата

    .content-box.content-box--mat-options
      .content-box__top.content-box__module
        .content-box__inner
          .content-box__top-row
            .content-box__top-col
              .content-box__label Стандартная толщина мата:
              .control-group
                .control-item
                  .control-item__label 4 см
                .control-item
                  .control-item__label 5 см
                .control-item
                  .control-item__label 10 см

            .content-box__top-col
              .content-box__label Стандартный размер мата:
              .control-group
                .control-item
                  .control-item__label 2 х 1 м
                    

      .content-box__bottom.content-box__module
        .content-box__inner
          .content-box__bottom-row
            .content-box__bottom-col
              p.content-box__bottom-notes
                | Возможны вариации по толщине,
                br
                | размеру и наполнителю
            .content-box__bottom-col
              button.button
                | Оставить заявку <span class="button-extra-text">на расчет стоимости</span>


