section.mat-about(style="background-image: url(img/general/pattern-1.png), url(img/general/pattern-3.png);")
  .container
    h2.title.title--mat-about
      | маты компании Euromat
    p.mat-about__subtitle
      | Универсальный мат для спортивных залов
    .mat-about__grid
      .mat-about__col-left
        .mat-about__content
          p.mat-about__text
            | Нанесение индивидуальных логотипов
            br
            | разместим на матах логотип вашей компании
          p.mat-about__notes
            | Оставьте заявку и наш специалист свяжется с вами для подробной консультации
          button.button Оставить заявку

      .mat-about__col-right
        img.mat-about__img(
          src="img/content/mat/mat-img.png",
          alt=""
        )



