.delivery-bottom
  .container
    .delivery-bottom__content
      h2.title.title--delivery-bottom Доставка бесплатно
      p.delivery-bottom__offer
        | Оставь заявку сейчас и получи бесплатную доставку до терминала. 172 пункта выдачи
        br
        <span class="highlight">Акция действует до 30 июля</span>
      button.button(
        type="button",
        data-micromodal-trigger="modal-form-bid"
      ) Оставить заявку

    object.delivery-map.js-object-svg(type="image/svg+xml" data="img/content/map.svg")
      img.lozad(data-src="img/content/map.png")
