.delivery-bottom(style="background-image: url(img/content/delivery-map.png);")
  .container
    .delivery-bottom__content
      h2.title.title--delivery-bottom Доставка бесплатно
      p.delivery-bottom__offer
        | Оставь заявку сейчас и получи бесплатную доставку
        br 
        | до терминала. <span class="highlight">Акция действует до 30 июля</span>
      button.button Оставить заявку
