.delivery-top(style="background-image: url(img/content/delivery-pic.png);")
  .container
    .pure-g
      .delivery-top__left.pure-u-1.pure-u-lg-5-12
        h2.title.title--delivery-top Оплата и доставка
        p.delivery-top__lead
          | Мы постарались сделать прицесс оплаты и доставки
          | максимально комфортным для наших клиентов.
          br
          | Все просто – начните с заявки на сайте.
        p.delivery-top__offer
          | Ознакомьтесь с инфографикой, чтобы
          | узнать больше о каждом этапе
        button.button Оставить заявку

      .delivery-top__right.pure-u-1.pure-u-lg-7-12
        .delivery-list
          .delivery-list__col
            .delivery-list__item
              span.delivery-list__item-num 01
              p.delivery-list__item-text
                | Перед производством спортивного покрытия согласовываются все характеристики и объем спортивного покрытия.
            .delivery-list__item
              span.delivery-list__item-num 02
              p.delivery-list__item-text
                | Заключаем договор на продукцию и выставляем счет на оплату.
            .delivery-list__item
              span.delivery-list__item-num 03
              p.delivery-list__item-text
                | Мы работаем как с юридическими, так и с физическим лицами.
          .delivery-list__col
            .delivery-list__item
              span.delivery-list__item-num 04
              p.delivery-list__item-text
                | Наш менеджер предложит несколько вариантов самой бюджетной доставки, которая подойдет именно Вам.
            .delivery-list__item
              span.delivery-list__item-num 05
              p.delivery-list__item-text
                | Расчет ориентировочной стоимостии сроков доставки
                br
                | также выполняет менеджер
            .delivery-list__item
              span.delivery-list__item-num 06
              p.delivery-list__item-text
                | Вам останется
                br
                | только принять товар

        hr.delivery-top__divider
        .delivery-top__notes
          .delivery-top__notes-col.delivery-top__notes-col-left
            p Оплата происходит удобным для Вас способом:

          .delivery-top__notes-col.delivery-top__notes-col-right
            ul
              li - Безналичный и наличный расчеты;
              li - Visa, Master Card, Карта Мир
              li - Яндекс Деньги, Webmoney, Qiwi-кошелек
              li - Возможна рассрочка
