section.banner.budo-audience(style="background-image: url(img/backgrounds/bg-budo-audience.jpg);")
  .container
    h2.title.title--banner.title--budo-audience Наши будо-маты покупают
    ul.budo-audience__list
      li.budo-audience__item
        span.budo-audience__item-icon
          span.icon-sub.icon-sub-punch
        span.budo-audience__item-text Залы единоборства

      li.budo-audience__item
        span.budo-audience__item-icon
          span.icon-sub.icon-sub-running
        span.budo-audience__item-text Фитнес клубы

      li.budo-audience__item
        span.budo-audience__item-icon
          span.icon-sub.icon-sub-gym
        span.budo-audience__item-text Спортивные залы

      li.budo-audience__item
        span.budo-audience__item-icon
          span.icon-sub.icon-sub-ballerina
        span.budo-audience__item-text Танцевальные залы

      li.budo-audience__item
        span.budo-audience__item-icon
          span.icon-sub.icon-sub-cubes
        span.budo-audience__item-text Детские комнаты

      li.budo-audience__item
        span.budo-audience__item-icon
          span.icon-sub.icon-sub-ball
        span.budo-audience__item-text Детские сады

      li.budo-audience__item
        span.budo-audience__item-icon
          span.icon-sub.icon-sub-mall
        span.budo-audience__item-text Торговые центры

      li.budo-audience__item
        span.budo-audience__item-icon
          span.icon-sub.icon-sub-yoga
        span.budo-audience__item-text Yoga залы
    
    .button-wrapper
      button.button
        | Рассчитать стоимость будо-матов
