section.budo-features(style="background-image: url(img/general/pattern-3.png);")
  .container
    h2.title.title--budo-features
      span.bigger Додянг-октагон
      span.smaller по стандарту WTF

    .budo-features__grid.pure-g
      .budo-features__col-left.pure-u-1.pure-u-lg-1-2
        h3.budo-features__subtitle
          | Татами «ласточкин хвост»
        .budo-features__text
          p
            | Маты додянг или будо-маты с зацепом "ласточкин хвост" - классическое покрытие для тхэквондо.
            br
            | Данный ковер - стандарт WTF (Международной федерации тхэквондо).
          p
            | Толщина – <b>2,5 см.</b> 
            br
            | Размер одного листа  – <b>0,8х0,8 м.</b>
          p
            | Сроки производства – <b>7 дней</b>
          p
            | Маты двухсторонние и одноцветные
            br
            | Фактура «Рисовая соломка»

        h4.budo-features__set-title Состав комплекта:
        ul.budo-features__set
          li.budo-features__set-item
            .budo-features__set-square.budo-features__set-square--red
            .budo-features__set-text
              | Цвет красный
              br
              b 0,8 х 0,8 м
              br
              b 56 штук

          li.budo-features__set-item
            .budo-features__set-square.budo-features__set-square--blue
            .budo-features__set-text
              | Цвет синий
              br
              b 0,8 х 0,8 м
              br
              b 76 штук

          li.budo-features__set-item
            .budo-features__set-triangle.budo-features__set-triangle--red
            .budo-features__set-text
              | Угол красный
              br
              b 0,8 х 0,8 м
              br
              b 12 штук

          li.budo-features__set-item
            .budo-features__set-triangle.budo-features__set-triangle--blue
            .budo-features__set-text
              | Угол синий
              br
              b 0,8 х 0,8 м
              br
              b 12 штук



      .budo-features__col-right.pure-u-1.pure-u-lg-1-2
        .budo-features__picture
          p.budo-features__picture-caption
            | Сторона покрытия: 9,6 м
          .budo-features__picture-img
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 472"><g fill-rule="evenodd"><path fill="#c73237" d="M18 0h472v472H18V0z"/><path fill="#3260c7" d="M336.196 435.3l-164.472-.47L55.757 318.2l.47-164.472L172.858 37.76l164.472.47 115.968 116.632-.47 164.472L336.196 435.3z"/><g fill="#fff"><path d="M18 0h1.062v472H18V0zm36.72 0h1.03v472h-1.03V0zm35.655 0h1.063v472h-1.063V0zm36.72 0h1.03v472h-1.03V0zm35.656 0h1.03v472h-1.03V0zm36.72 0h1.03v472h-1.03V0zm35.655 0h1.03v472h-1.03V0zm36.72 0h1.03v472h-1.03V0zM307.5 0h1.03v472h-1.03V0zm36.72 0h1.03v472h-1.03V0zm35.655 0h1.03v472h-1.03V0zm36.687 0h1.063v472h-1.063V0zm35.688 0h1.03v472h-1.03V0zm36.688 0H490v472h-1.062V0z"/><path d="M18 470.938h472V472H18v-1.062zm0-36.688h472v1.03H18v-1.03zm0-35.688h472v1.063H18v-1.063zm0-36.687h472v1.03H18v-1.03zm0-35.655h472v1.03H18v-1.03zm0-36.72h472v1.03H18v-1.03zm0-35.656h472v1.03H18v-1.03zm0-36.72h472v1.03H18v-1.03zm0-35.655h472v1.03H18v-1.03zm0-36.72h472v1.03H18v-1.03zm0-35.656h472v1.03H18v-1.03zm0-36.72h472v1.063H18v-1.063zm0-35.655h472v1.03H18v-1.03zM18 0h472v1.063H18V0zm172 54h139v2H190v-2z"/></g><path fill="#272361" d="M0 8h2v451H0V8z"/></g><text font-family="Montserrat" fill="#fff" font-weight="bold" font-size="14" x="241" y="75">3.2 м</text><path fill-rule="evenodd" fill="#fff" d="M78.93 157.5l98.288-98.287 1.414 1.413-98.288 98.29-1.414-1.415z"/><text font-family="Montserrat" fill="#fff" transform="matrix(.707107 -.707107 .707107 .707107 133.776853 133.271588)" font-weight="bold" font-size="14">3.39 м</text></svg>

        .button-wrapper
          button.button Заказать додянг