-
  var images = [
    {
      src: "img/content/docs/img-1.jpg"
    },
    {
      src: "img/content/docs/img-2.jpg"
    },
    {
      src: "img/content/docs/img-3.jpg"
    },
  ];


section.docs(style="background-image: url(img/general/pattern-3.png);")
  .container
    h2.title.title--docs Наши сертификаты
    .docs-list
      each image in images
        a.docs-list__item(
          href= image.src,
          data-fancybox="certificats"
        )
          img(src= image.src, alt="")


