section.docs(style="background-image: url(img/general/pattern-3.png);")
  .container
    h2.title.title--docs Наши сертификаты
    ul.docs-list
      li.docs-list__item
        img(src="img/content/docs/img-1.jpg", alt="")
      li.docs-list__item
        img(src="img/content/docs/img-2.jpg", alt="")
      li.docs-list__item
        img(src="img/content/docs/img-3.jpg", alt="")