section.child-about(style="background-image: url(img/general/pattern-1.png), url(img/general/pattern-3.png);")
  .container
    h2.title.title--child-about Детский пол
    ul.child-about__list
      li.child-about__list-item
        span.child-about__list-item-icon
          span.icon-sub.icon-sub-teddy-bear
        p.child-about__list-text
          | Мягкий пол из ЭВА – это очень практичное и многофункциональное покрытие для пола предназначенный для использования в детских игровых комнатах, квартирах и в детских садах. 
      li.child-about__list-item
        span.child-about__list-item-icon
          span.icon-sub.icon-sub-floor
        p.child-about__list-text
          | Все детали (пазлы) элементарно протираются влажной тряпкой и моются теплым мыльным раствором или без него. Благодаря антискользящим насечкам на лицевой стороне и эластичности материала, мягкий пол из пазлов является отличной защитой от травм и ушибов при падениях во время подвижных игр и занятий спортом, это прекрасная и недорогая альтернатива спортивным матам.
      li.child-about__list-item
        span.child-about__list-item-icon
          span.icon-sub.icon-sub-puzzle-part
        p.child-about__list-text
          | Мягкий пол с одинаковым размером пазлов, стыкуется между собой и с ковриками-пазлами, что позволяет застелить помещения любой площади.