/* ==========================================================================
   #BASE STYLES
   ========================================================================== */

html {
  width: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  min-height: 100vh;
  overflow-x: hidden;

  &.is-overflowed {
    overflow: hidden;
  }
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

@-ms-viewport {
  width: device-width;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: #fff;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

// [tabindex="-1"]:focus {
//   outline: 0 !important;
// }

svg:not(:root) {
  overflow: hidden;
}


*::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


ul, ol {
  list-style: none;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  overflow: auto;
  resize: vertical;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: inherit;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  pointer-events: none;
}

del {
  text-decoration: line-through;
}

.content {
  padding-top: 72px;

  @media (min-width: 62em) {
    padding-top: 0;
  }
}

[data-fancybox] {
  display: block;

  &:focus {
    outline: none;
  }
}


.no-js .lozad[data-src] {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input:focus::placeholder{
  color:transparent;
}