-
  var menu = [
    {
      link: 'budo.html',
      title: 'Будо-маты',
      current: 'budo-page'
    },
    {
      link: 'carpet.html',
      title: 'Борцовские ковры',
      current: 'carpet-page'
    },
    {
      link: 'tatami.html',
      title: 'Татами',
      current: 'tatami-page'
    },
    {
      link: 'roll.html',
      title: 'Ролл-маты',
      current: 'roll-page'
    },
    {
      link: 'mat.html',
      title: 'Маты',
      current: 'mat-page'
    },
    {
      link: 'wall.html',
      title: 'Стеновые протекторы',
      current: 'wall-page'
    },
    {
      link: 'ring.html',
      title: 'Ринги',
      current: 'ring-page'
    },
    {
      link: 'mma.html',
      title: 'клетка ММА',
      current: 'mma-page'
    },
    {
      link: 'tile.html',
      title: 'Резиновая плитка',
      current: 'tile-page'
    },
    {
      link: 'child.html',
      title: 'Детский пол',
      current: 'child-page'
    },
  ];


.mobile-nav(hidden)
  .mobile-nav__overlay
  .mobile-nav__content
    .side-menu
      .side-menu__head
        .brand-wrapper.brand-wrapper--mobile
          a.brand
            img(
              src="img/general/logo.png",
              scrset="img/general/logo.png 1x, img/general/logo@2x.png 1.5x, img/general/logo@2x.png 2x, img/general/logo@2x.png 3x,"
              alt="логотип Euromat"
            )
        button.side-menu__close
      
      .side-menu__body
        .side-menu__module
          .header-cities.header-cities--mobile
            span.icon.icon-placeholder
            span.header-cities__label Ваше местоположение:
            |
            |
            span.header-cities__text.js-place
        
        .side-menu__module
          .header-members.header-members--mobile
            .header-members__flags
              span.icon.icon-flag-ru(title="Россия")
              span.icon.icon-flag-by(title="Белорусь")
              span.icon.icon-flag-ukr(title="Украина")
              span.icon.icon-flag-kz(title="Казахстан")
              span.icon.icon-flag-pl(title="Польша")

        .side-menu__module
          ul.menu.menu--mobile
            each item in menu
              li.menu__item
                a.menu__link(
                  href= item.link
                )= item.title
            

        .side-menu__module
          ul.menu-info
            li.menu-info__item
              a.menu-info__item-link(href="tel:+78003014788") +7 (800) 301-47-88
              a.menu-info__item-link(href="tel:+74951850488") +7 (495) 185-04-88
              span.menu-info__item-notes Режим работы: 9.00-21.00
            li.menu-info__item
              a.menu-info__item-link(href="mailto:sales@euromatsport.ru") sales@euromatsport.ru
              span.menu-info__item-notes Напишите нам на почту

  
