-
  var menu = [
    {
      link: 'budo.html',
      title: 'Будо-маты',
      current: 'budo-page'
    },
    {
      link: 'carpet.html',
      title: 'Борцовские ковры',
      current: 'carpet-page'
    },
    {
      link: 'tatami.html',
      title: 'Татами',
      current: 'tatami-page'
    },
    {
      link: 'roll.html',
      title: 'Ролл-маты',
      current: 'roll-page'
    },
    {
      link: 'mat.html',
      title: 'Маты',
      current: 'mat-page'
    },
    {
      link: 'wall.html',
      title: 'Стеновые протекторы',
      current: 'wall-page'
    },
    {
      link: 'ring.html',
      title: 'Ринги',
      current: 'ring-page'
    },
    {
      link: 'mma.html',
      title: 'клетка ММА',
      current: 'mma-page'
    },
    {
      link: 'tile.html',
      title: 'Резиновая плитка',
      current: 'tile-page'
    },
    {
      link: 'child.html',
      title: 'Детский пол',
      current: 'child-page'
    },
  ];


ul.menu.menu--primary
  each item in menu
    if pageClass == item.current
      li.menu__item.is-current
        a.menu__link(
          href= item.link
        )= item.title
    else
      li.menu__item
        a.menu__link(
          href= item.link
        )= item.title


