include ../_utils/mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap&subset=cyrillic")
    link(rel="stylesheet" type='text/css' href="libs/fancybox/jquery.fancybox.min.css")
    link(rel="stylesheet" type='text/css' href="css/styles.min.css")
    script(src="libs/prefixfree/prefixfree.min.js")
    script(src="libs/prefixfree/prefixfree.dynamic-dom.min.js")

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
  body(class=pageClass)
    .wrapper
      include ../_modules/l-header/header
      main.content
        block content
      include ../_modules/l-footer/footer
      include ../_modules/c-modals/modal-form-karate
      include ../_modules/c-modals/modal-form-judo
      include ../_modules/c-modals/modal-form-jujitsu
      include ../_modules/c-modals/modal-form-aikido
      include ../_modules/c-modals/modal-form-ushu
      include ../_modules/c-modals/modal-form-thai
      include ../_modules/c-modals/modal-form-mma
      include ../_modules/c-modals/modal-form-freestyle
      include ../_modules/c-modals/modal-form-kudo
      include ../_modules/c-modals/modal-form-grappling
      include ../_modules/c-modals/modal-form-greek
      include ../_modules/c-modals/modal-form-taekwondo
      include ../_modules/c-modals/modal-form-boxing
      include ../_modules/c-modals/modal-form-hand
      include ../_modules/c-modals/modal-form-yoga
      include ../_modules/c-modals/modal-form-gymnastics
    script(src="js/jquery-3.3.1.min.js")
    script(src="libs/slick/slick.min.js")
    script(src="libs/fancybox/jquery.fancybox.min.js")
    script(src="libs/micromodal/micromodal.min.js")
    script(src="js/main.js")
    block script