.product-about.product-about--ring.ring-about
  .ring-about__top(
    style="background-image: url(img/general/pattern-3.png);"
  )
    .container
      h2.title.title--ring-about
        | НАПОЛЬНЫЙ БОКСЕРСКИЙ
        br
        | РИНГ НА РАСТЯЖКАХ
        |
        span.smaller от 126 000 рублей/м<sup>2</sup>
      p.ring-about__desc
        | Самый простой из существующих типов напольных рингов. В конструкции ринга на растяжках, в качестве упоров выступают цепи, которые создают противовес натяжению канатов и на дают сложиться рингу внутрь, при воздействии боксеров на канаты ринга. Монтажная площадь составляет 1.5 метров с каждой стороны, поэтому из всех напольных рингов у него самая большая монтажная площадь.

      .ring-about__grid.negative-m
        .ring-about__top-left
          .bullet-list__wrapper.bullet-list__wrapper--ring-about
            h3.bullet-list__heading Полная комплектация:
            ul.bullet-list.bullet-list--ring-about
              li.bullet-list__item
                | Мягкий настил ППЭ (плотность 180 кг/м<sup>3</sup>)
              li.bullet-list__item
                | Основное покрытие ПВХ
              li.bullet-list__item
                | Подушки угловые
              li.bullet-list__item
                | Канаты в чехлах
              li.bullet-list__item
                | Перемычки
              li.bullet-list__item
                | Растяжки канатов / защита растяжек канатов
              li.bullet-list__item
                | Стойки / растяжки стоек
              li.bullet-list__item
                | Крепеж монтажный

        .ring-about__top-right
          img.ring-about__img(
            src="img/content/ring/ring-img-1.png",
            alt=""
          )

      .ring-about__foot
        .ring-about__foot-module
          h3.ring-about__heading Размеры ринга:
          .control-group.control-group--ring-about
            .control-item
              .control-item__label 5х5 м
            .control-item
              .control-item__label 6х6 м
            .control-item
              .control-item__label 7х7 м

        .ring-about__foot-module
          .ring-about__notes
            .ring-about__notes-text
              | Возможность производства покрытия,
              br
              | <span class="smaller">канатов и подушек в индивидуальных цветах</span>
            button.button(

            ) Оставить заявку

  include ./ring-about-middle
  include ./ring-about-bottom

