.ring-about__middle
  .container
    h2.title.title--ring-about
      | Ринги на упорах
      |
      span.smaller от 77 000 рублей/м<sup>2</sup>
    p.ring-about__desc
      | У нас вы можете купить напольный боксерский ринг на упорах любого размера.
      br
      | Самый популярный вид напольного ринга. Ринг схож по способу крепления с рингом на растяжках, но он занимает намного меньше места. Еще одно преимущество, что он не причиняет вреда напольному покрытию зала, т.к. упоры крепятся к полу анкерными болтами и на одном уровне с поверхностью пола.
      br
      | Монтируется и разбирается за короткое время.

    .ring-about__grid.negative-m
      .ring-about__middle-left
        img.ring-about__img(
          src="img/content/ring/ring-img-2.png",
          alt=""
        )
      .ring-about__middle-right
        .bullet-list__wrapper.bullet-list__wrapper--ring-about
          h3.bullet-list__heading Полная комплектация:
          ul.bullet-list.bullet-list--ring-about
            li.bullet-list__item
              | Мягкий настил ППЭ (плотность 200 кг/м<sup>3</sup>) 
            li.bullet-list__item
              | Основное покрытие ПВХ 
            li.bullet-list__item
              |Подушки угловые
            li.bullet-list__item
              | Канаты в чехлах
            li.bullet-list__item
              | Растяжки для канатов с защитой
            li.bullet-list__item
              | Стойки с упорами
            li.bullet-list__item
              | Крепежные элементы

        .ring-about__foot
          .ring-about__foot-module
            h3.ring-about__heading Размеры ринга:
            .control-group.control-group--ring-about
              .control-item
                .control-item__label 5х5 м
              .control-item
                .control-item__label 6х6 м
              .control-item
                .control-item__label 7х7 м

          .ring-about__foot-module
            .ring-about__notes
              .ring-about__notes-text
                | Возможность производства покрытия,
                br
                | <span class="smaller">канатов и подушек в индивидуальных цветах</span>
              button.button(

              ) Оставить заявку