section.ring-logo
  .container
    h2.title.title--ring-logo
      | Нанесение индивидуальных логотипов
    p.ring-logo__subtitle
      | Разместим логотип или слоган вашего клуба или партнеров на ринге
    .ring-logo__grid
      .ring-logo__col-left
        figure.ring-logo__img.ring-logo__img--3d
          img(src="img/content/ring/ring-logo-1.png", alt="")
          figcaption.ring-logo__img-caption
            | Пример размещения логотипа

      .ring-logo__col-right
        .ring-logo__inner-grid
          .ring-logo__inner-left
            figure.ring-logo__img.ring-logo__img--square
              img(src="img/content/ring/ring-logo-2.png", alt="")
              figcaption.ring-logo__img-caption
                span.ring-logo__img-caption-top 2000 см
                span.ring-logo__img-caption-right 1500 см

          .ring-logo__inner-right
            figure.ring-logo__img.ring-logo__img--horizontal
              img(src="img/content/ring/ring-logo-3.png", alt="")
              figcaption.ring-logo__img-caption
                span.ring-logo__img-caption-bottom 2000 см
            .ring-logo__img-set
              figure.ring-logo__img.ring-logo__img--vertical.ring-logo__img--vertical-text
                img(src="img/content/ring/ring-logo-4.png", alt="")
                figcaption.ring-logo__img-caption
                  span.ring-logo__img-caption-top 190 см
                  span.ring-logo__img-caption-right 800 см
              figure.ring-logo__img.ring-logo__img--vertical
                img(src="img/content/ring/ring-logo-5.png", alt="")
              figure.ring-logo__img.ring-logo__img--vertical
                img(src="img/content/ring/ring-logo-6.png", alt="")
              figure.ring-logo__img.ring-logo__img--vertical
                img(src="img/content/ring/ring-logo-7.png", alt="")
