/* ==========================================================================
  #ARROW
   ========================================================================== */

.arrow {
  display: inline-block;
  background: url('../img/icons/sprites/sprite-arrows.png');
  background-repeat: no-repeat;
  background-size: 36px 114px;
}


.arrow-left {
  width: 32px; height: 18px;
  background-position: -2px -2px;
}


.arrow-right {
  width: 32px; height: 18px;
  background-position: -2px -24px;
}


.shevron-right {
  width: 21px; height: 31px;
  background-position: -2px -46px;
}


.shevron-left {
  width: 21px; height: 31px;
  background-position: -2px -81px;
}

