/* ==========================================================================
   #BUTTON
   ========================================================================== */

.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  border: 0;
  border-radius: 14px;
  padding: 1.45em;
  font-weight: bold;
  font-size: rem(15);
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: $secondary-color;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out,
    color 0.3s ease-out;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0;
  }

  &:hover {
    color: #fff;
    background-color: #ae2d31;
  }

  &:active {
    box-shadow: none;
  }

  @media (min-width: 48em) {
    font-size: rem(16);
  }
}


.form--hero-widget .button {
  width: 100%;
  font-size: rem(15);
  padding-top: 0.73em;
  padding-bottom: 0.73em;
  border-radius: 12px;
}


.banner--price .button {


  @media (min-width: 48em) {
    width: 360px;
  }
}


.products-item .button {
  position: absolute;
  top: 82px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1.3em;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out;
  z-index: -10;

  @media (min-width: 36em) {
    width: 87.7551%;
  }
}


.products-item:hover .button {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0%);
  z-index: 10;
}


.banner--design .button {

  @media (max-width: 35.99em) {
    .extra-text {
      display: none;
    }
  }

  @media (min-width: 48em) {
    width: 410px;
  }
}


.delivery .button {

  @media (min-width: 36em) {
    width: 318px;
  }
}


.button--call {
  width: 62px;
  height: 62px;
  padding: 0;
  vertical-align: middle;
}


.header-main .button--call {


  @media (max-width: 61.99em) {
    width: 44px;
    height: 44px;
    border-radius: 10px;

    .icon {
      transform: scale(0.7);
    }
  }

  @media (min-width: 62em) {
    align-self: flex-end;
  }
}


.form--banner-dealer .button {
  width: 100%;
  font-size: 14px;

  @media (min-width: 48em) {
    width: 276px;
  }
}


.form--banner-consult .button {
  width: 100%;
  padding: 0 32px;
  height: 45px;
  font-size: rem(14);
  line-height: 45px;
  background-color: transparent;
  box-shadow: none;


  @media (min-width: 80em) {
    transform: skewX(30deg);
  }
}


.banner-sale .button {


  @media (min-width: 48em) {
    width: 318px;
  }
}


.budo-colors__foot .button {


  @media (min-width: 48em) {
    width: 360px;
  }
}


.budo-audience .button {
  font-size: rem(13);

  @media (min-width: 24em) {
    font-size: rem(14);
  }

  @media (min-width: 80em) {
    width: 362px;
  }
}