/* ==========================================================================
   #BUTTON
   ========================================================================== */

.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  border: 0;
  border-radius: 8px;
  padding: 1.45em;
  font-weight: bold;
  font-size: rem(15);
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: $secondary-color;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease-out,
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out,
    color 0.3s ease-out;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0;
  }

  &:hover {
    color: #fff;
    background-color: #ae2d31;
    box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: none;
  }

  @media (min-width: 48em) {
    font-size: rem(16);
    border-radius: 14px;
  }
}


.button--call {
  position: relative;
  width: 62px;
  height: 62px;
  padding: 0;
  vertical-align: middle;

  .is-scroll & {
    width: 56px;
    height: 56px;
  }
}


.button--call:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-color: $secondary-color;
  animation: jump 1.5s ease-out infinite;
  z-index: 1;
}


.button--call .icon {
  position: relative;
  z-index: 2;
}


.button-extra-text {

  @media (max-width: 35.99em) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}


.form--hero-widget .button {
  width: 100%;
  font-size: rem(15);
  padding-top: 0.73em;
  padding-bottom: 0.73em;
  border-radius: 12px;
}


.form--modal .button {
  width: 100%;
  font-size: rem(15);
  padding-top: 1.45em;
  padding-bottom: 1.45em;
  border-radius: 40px;
}


.banner--price .button {


  @media (min-width: 48em) {
    width: 360px;
  }
}


.products-item .button {
  position: absolute;
  top: 82px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1.3em;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out;
  z-index: -10;

  @media (min-width: 36em) {
    width: 87.7551%;
  }
}


.products-item:hover .button {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0%);
  z-index: 10;
}


.banner--design .button {


  @media (min-width: 48em) {
    width: 410px;
  }
}


.delivery .button {

  @media (min-width: 36em) {
    width: 318px;
  }
}


.header-main .button--call {


  @media (max-width: 61.99em) {
    width: 44px;
    height: 44px;
    border-radius: 10px;

    .icon {
      transform: scale(0.7);
    }
  }

  @media (min-width: 62em) {
    align-self: flex-end;
  }
}


.form--banner-dealer .button {
  width: 100%;
  font-size: 14px;

  @media (min-width: 48em) {
    width: 276px;
  }
}


.form--banner-consult .button,
.form--banner-calculation .button {
  width: 100%;
  padding: 0 32px;
  height: 45px;
  font-size: rem(14);
  line-height: 45px;
  background-color: transparent;
  box-shadow: none;


  @media (min-width: 80em) {
    transform: skewX(30deg);
  }
}


.banner-sale .button {


  @media (min-width: 48em) {
    width: 318px;
  }
}


.budo-colors__foot .button {


  @media (min-width: 48em) {
    width: 360px;
  }
}


.budo-audience .button {
  font-size: rem(13);

  @media (min-width: 24em) {
    font-size: rem(14);
  }

  @media (min-width: 80em) {
    width: 362px;
  }
}


.budo-features .button {
  width: 225px;
  margin-left: 32px;
}


.budo-calculator__sale .button {
  font-size: rem(12);
  border-radius: 8px;

  @media (min-width: 90em) {
    width: 300px;
  }
}


.budo-calculator__foot-row .button {
  font-size: rem(14);
  border-radius: 8px;
  padding: 1.4em;

  @media (min-width: 90em) {
    width: 276px;
  }
}


.budo-calculator__title .button--call {
  margin-left: 30px;
}


.child-benefits .button {

  @media (min-width: 48em) {
    width: 530px;
  }
}


.mat-about .button {

  @media (min-width: 62em) {
    width: 360px;
  }
}


.content-box--mat-options .content-box__bottom .button {

  @media (min-width: 80em) {
    width: 460px;
  }
}


.tatami-about__foot .button {


  @media (min-width: 62em) {
    width: 360px;
  }
}


.product-about__foot .button {


  @media (min-width: 62em) {
    width: 360px;
  }
}


.content-box__controls-row .button {
  font-size: rem(14);
  border-radius: 8px;
  padding: 1.4em;

  @media (min-width: 90em) {
    width: 276px;
  }
}


.content-box__title .button--call {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 48em) {
    display: inline-block;
    margin-left: 30px;
    margin-right: 0;
  }
}


.mma-features .button {

  @media (min-width: 80em) {
    width: 390px;
  }
}


.mma-logo__notes .button {

  @media (min-width: 80em) {
    width: 310px;
  }
}


.tile-colors .button {
  font-size: rem(14);

  @media (min-width: 80em) {
    width: 436px;
  }
}


.ring-about .button {

  @media (min-width: 62em) {
    width: 310px;
  }
}


.wall-features .button {
  
  @media (min-width: 62em) {
    width: 310px;
  }
}


@keyframes jump {
  0% {
    // box-shadow: none;
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    // box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.3);
    opacity: 0;
  }
}