/* ==========================================================================
  #CARD
   ========================================================================== */

.card {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}


.card-list__item {
  position: relative;
}


.card-list__item-foot {
  padding-top: 16px;
  text-align: center;
}


.card-list__item-title,
.card-list__item-subtitle,
.card__title {
  display: block;
}


.card-list__item-title {
  font-weight: bold;
  color: $text-darker;
}


.card-list__item-subtitle {
  line-height: 1.25;
}

.card__title {
  @include fluid-type($min_width, $max_width, 16px, 24px);

  font-weight: bold;
  line-height: 1.3;
}


.card--portfolio,
.card--office,
.card--team,
.card--budo-colors,
.card--bg {
  background-color: #f4f4f4;
}


.card--office,
.card--team {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}


.card--budo-colors {

  @media (min-width: 36em) {
    padding-top: 21px;
    padding-left: 21px;
    padding-right: 21px;
  }
}


.card-media {
  width: 100%;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}


.card-media__content {
  position: relative;
  width: 100%;
  padding-top: 100%;
}


.card--portfolio .card-media__content {
  padding-top: 43.333333%;
}


.card--reviews .card-media__content {
  padding-top: 60.8955%;
  background-color: #555555;
}


.card--budo-colors .card-media__content {
  padding-top: 54.4585987%;
  background-color: #555555;
}


.card--office .card-media__content {
  padding-top: 60.541586%;
}


.card--team .card-media__content {
  padding-top: 113.716814159%;
}


.card--budo-calculator .card-media__content {
  padding-top: 54.4%;
}


.card-media__content>* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.card-media__content>iframe {
  display: none;
}

.card-media__content>img {
  object-fit: cover;
}


.card-media__btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}


.card-media__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, .65);
}


.card-media__btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0.8;
  transition: opacity 0.25s ease-out;


  &:hover {
    opacity: 1;
  }
}


.card__foot {
  padding-top: 8px;
  padding-bottom: 8px;
}


.card__foot img {
  display: block;
  width: 78%;
}


.card--portfolio .card__foot,
.card--reviews .card__foot {
  padding-top: 14px;
  padding-bottom: 14px;
}

.card--budo-colors .card__foot {
  padding-top: 8px;
  padding-bottom: 8px;

  @media (min-width: 36em) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}


.card--budo-calculator .card__foot {

  img {
    width: 78%;
  }
}


.card--office .card__body {
  padding-top: 25px;
  padding-bottom: 25px;
}


.card--office .card__title {
  text-transform: uppercase;
}


.card--team .card__body {
  padding-top: 18px;
  padding-bottom: 18px;
}


.card--team .card__title {
  font-weight: bold;
  font-size: rem(14);
  color: $text-darker;
  margin-bottom: 0;

  @media (min-width: 48em) {
    font-size: rem(16);
  }
}


.card--team .card__text {
  font-size: rem(13);
  color: $text-light;

  @media (min-width: 48em) {
    font-size: rem(14);
  }
}

.card--budo-calculator {
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
}


.card--mat-options {

  @media (min-width: 62em) {
    padding-top: 12px;
    padding-right: 18px;
    padding-left: 18px;
  }
}


.card--mat-options .card-media__content {
  padding-top: 47.77%;
  background-color: #555;
}


.card--mat-options .card__foot {
  padding-top: 8px;
  padding-bottom: 8px;

  @media (min-width: 62em) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


.card--mat-colors .card-media__content {
  padding-top: 58.62%;
  background-color: #eee;
}


.card--mat-colors .card__foot {
  padding-top: 8px;
  padding-bottom: 8px;
}


/* #card-list--tatami-sorts
   ========================================================================== */

.card-list--tatami-sorts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card-list--tatami-sorts .card {


  @media (min-width: 36em) {
    padding-left: 14px;
    padding-right: 14px;
  }
}


.card-list--tatami-sorts .card-media__content {
  padding-top: 44.9%;
}


.card-list--tatami-sorts .card-list__item {
  width: 50%;
  max-width: 300px;
}


.card-list--tatami-sorts .card-list__item-title {
  text-transform: uppercase;

  @media (min-width: 36em) {
    font-size: rem(18);
  }
}


.card-list--tatami-sorts .card-list__item-subtitle {
  font-size: rem(14);
  line-height: 1.2;
}


.card-list--tatami-sorts .card__foot {

  @media (min-width: 36em) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


/* #card-list--tatami-colors
   ========================================================================== */

.card-list--tatami-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 64px;
}


.card-list--tatami-colors .card-list__item {
  width: 50%;
  max-width: 156px;
  margin-bottom: 16px;

  @media (min-width: 80em) {
    width: 33.333333%;
  }
}


.card-list--tatami-colors .card-media__content {
  padding-top: 54.8387%;
}


.card-list--tatami-colors .card-list__item-foot {
  padding-top: 12px;
  font-size: rem(13);
}


/* #card-list--tatami-backs
   ========================================================================== */

.card-list--tatami-backs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -21px;
  margin-right: -21px;
  margin-left: -2.142857%;
  margin-right: -2.142857%;
}


.card-list--tatami-backs .card {

  @media (min-width: 48em) {
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


.card-list--tatami-backs .card-list__item {
  width: 50%;
  max-width: calc(300px + 4.285714%);
  margin-bottom: 24px;
  padding-left: 2.142857%;
  padding-right: 2.142857%;

  @media (min-width: 36em) {
    width: 33.333333%;
  }
}


.card-list--tatami-backs .card-media__content {
  padding-top: 44.9%;
}


.card-list--tatami-backs .card-list__item-foot {


  @media (min-width: 48em) {
    padding-top: 12px;
  }
}

.card-list--tatami-backs .card-list__item-title {
  text-transform: uppercase;
  font-size: rem(14);

  @media (min-width: 48em) {
    font-size: rem(18);
  }
}


.card-list--tatami-backs .card-list__item-subtitle {
  font-size: rem(14);
  line-height: 1.2;

  @media (min-width: 36em) {
    font-size: rem(16);
  }
}


/* #card-list--carpet-equipment
   ========================================================================== */

.card-list--carpet-equipment {
  display: flex;
  flex-wrap: wrap;
}


.card-list--carpet-equipment .card-list__item {
  width: 50%;
  margin-bottom: 16px;

  @media (min-width: 36em) {
    width: 33.333333%;
    margin-bottom: 0;
  }
}


.card-list--carpet-equipment .card-media__content {
  padding-top: 61.6%;
}


.card-list--carpet-equipment .card-list__item-title {
  font-size: rem(13);
}


/* #card-list--carpet-mat
   ========================================================================== */

.card-list--carpet-mat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;

  @media (min-width: 36em) {
    margin-left: -11px;
    margin-right: -11px;
  }
}


.card-list--carpet-mat .card-list__item {
  width: 50%;
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;

  @media (min-width: 36em) {
    padding-left: 11px;
    padding-right: 11px;
  }

  @media (min-width: 48em) {
    width: 25%;
    margin-bottom: 0;
  }
}


.card-list--carpet-mat .card {

  @media (min-width: 36em) {
    padding-top: 14px;
    padding-right: 14px;
    padding-left: 14px;
  }
}


.card-list--carpet-mat .card__foot {


  @media (min-width: 36em) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}


.card-list--carpet-mat .card-media__content {
  padding-top: 76.5%;
}


.card-list--carpet-mat .card-list__item-title {
  font-size: rem(14);

  @media (min-width: 48em) {
    font-size: rem(16);
  }
}


/* #card-list--carpet-colors
   ========================================================================== */

.card-list--carpet-colors {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

  @media (min-width: 48em) {
    margin-left: -3.333333%;
    margin-right: -3.333333%;
  }

}


.card-list--carpet-colors .card-list__item {
  width: 50%;
  margin-bottom: 36px;
  padding-right: 8px;
  padding-left: 8px;

  @media (min-width: 48em) {
    width: 33.333333%;
    padding-right: 3.333333%;
    padding-left: 3.333333%;
  }
}


.card-list--carpet-colors .card-list__item--double {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;

  @media (min-width: 48em) {
    width: 66.666666%;
    padding-right: 3.333333%;
    padding-left: 3.333333%;
  }
}


.card-list--carpet-colors .card-list__item-foot {
  padding-top: 24px;
}


.card-list--carpet-colors .card-list__item-title {
  font-size: rem(14);

  @media (min-width: 48em) {
    font-size: rem(16);
  }
}


.card-list--carpet-colors .card {


  @media (min-width: 36em) {
    padding-top: 26px;
    padding-left: 22px;
    padding-right: 22px;
  }
}


.card-list--carpet-colors .card-media__content {
  padding-top: 81.5%;
}


.card-list--carpet-colors .card-list__item--double {
  order: 1;

  @media (min-width: 48em) {
    order: 0;
  }
}


.card-list--carpet-colors .card-list__item--double .card-media__content {
  padding-top: 33.3%;
}


.card-list--carpet-colors .card__foot {


  @media (min-width: 36em) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}


.card-list--carpet-colors .card__foot img {
  width: auto;
}


.card-list--carpet-colors .card-list__item--double .card__foot img {
  width: 38.83%;
}


/* #card-list--roll-cover
   ========================================================================== */

.card-list--roll-cover {
  display: flex;
  flex-wrap: wrap;
}


.card-list--roll-cover .card-list__item {
  width: 100%;
  margin-bottom: 16px;

  @media (min-width: 36em) {
    width: 50%;
  }

  @media (min-width: 48em) {
    width: 33.333333%;
  }
}


.card-list--roll-cover .card {
  max-width: 300px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
}


.card-list--roll-cover .card-media__content {
  padding-top: 44.94382%;
}


.card-list--roll-cover .card__foot {


  @media (min-width: 36em) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


.card-list--roll-cover .card-list__item-title {
  text-transform: uppercase;
  font-size: rem(14);

  @media (min-width: 62em) {
    font-size: rem(17);
  }
}


.card-list--roll-filling .card-list__item-sutitle {
  font-size: rem(14);

  @media (min-width: 62em) {
    font-size: rem(16);
  }
}


/* #card-list--roll-filling
   ========================================================================== */

.card-list--roll-filling {
  display: flex;
  flex-wrap: wrap;
}


.card-list--roll-filling .card-list__item {
  width: 100%;
  margin-bottom: 16px;

  @media (min-width: 36em) {
    width: 50%;
  }
}


.card-list--roll-filling .card {
  max-width: 300px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
}


.card-list--roll-filling .card-media__content {
  padding-top: 44.94382%;
}


.card-list--roll-filling .card__foot {


  @media (min-width: 36em) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


.card-list--roll-filling .card-list__item-title {
  text-transform: uppercase;
  font-size: rem(14);

  @media (min-width: 62em) {
    font-size: rem(17);
  }
}


.card-list--roll-filling .card-list__item-sutitle {
  font-size: rem(14);

  @media (min-width: 62em) {
    font-size: rem(16);
  }
}


/* #card-list--tile-colors
   ========================================================================== */

.card-list--tile-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 18px;
}


.card-list--tile-colors .card-list__item {
  margin-bottom: 18px;
  padding-left: 12px;
  padding-right: 12px;
}


.card-list--tile-colors .card-list__item-title {
  font-size: rem(13);
}


.card-list--tile-colors .card-list__item-foot {
  padding-top: 12px;
}

.card-list--tile-colors .card {
  width: 100%;
  max-width: 120px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}


.card-list--tile-colors .card-media__content {
  padding-top: 59.4339%;
}


.tile-colors .card--display-box {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 48em) {
    padding-top: 32px;
    padding-left: 30px;
    padding-right: 30px;
  }
}


.tile-colors .card--display-box .card__foot {
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: 48em) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


.tile-colors .card--display-box .card-media__content {
  padding-top: 59%;
}