/* ==========================================================================
  #ICON
   ========================================================================== */

.icon {
  display: inline-block;
  font-size: 0;
  background-image: url(../img/icons/sprites/sprite.png);
  background-repeat: no-repeat;
  background-size: 212px 193px;



  // @media
  // only screen and (-webkit-min-device-pixel-ratio: 2),
  // only screen and (   min--moz-device-pixel-ratio: 2),
  // only screen and (     -o-min-device-pixel-ratio: 2/1),
  // only screen and (        min-device-pixel-ratio: 2),
  // only screen and (                min-resolution: 192dpi),
  // only screen and (                min-resolution: 2dppx) { 
  //   background-image: url(../img/icons/sprites/sprite@2x.png);
  // }
}

.icon-bank {
  width: 36px; height: 39px;
  background-position: -2px -118px;
}

.icon-check {
  width: 12px; height: 10px;
  background-position: -158px -118px;
}

.icon-check-circle {
  width: 48px; height: 37px;
  background-position: -118px -45px;
}

.icon-cup {
  width: 36px; height: 36px;
  background-position: -84px -118px;
}

.icon-facebook {
  width: 30px; height: 30px;
  background-position: -175px -120px;
}

.icon-flag-by {
  width: 30px; height: 18px;
  background-position: -118px -86px;
}

.icon-flag-kz {
  width: 27px; height: 18px;
  background-position: -36px -161px;
}

.icon-flag-pl {
  width: 27px; height: 18px;
  background-position: -67px -161px;
}

.icon-flag-ru {
  width: 27px; height: 18px;
  background-position: -98px -161px;
}

.icon-flag-ukr {
  width: 27px; height: 18px;
  background-position: -129px -161px;
}

.icon-instagram {
  width: 30px; height: 30px;
  background-position: -124px -118px;
}

.icon-like {
  width: 38px; height: 36px;
  background-position: -42px -118px;
}

.icon-phone {
  width: 34px; height: 34px;
  background-position: -175px -45px;
}

.icon-placeholder {
  width: 12px; height: 16px;
  background-position: -152px -86px;
}

.icon-play-button {
  width: 112px; height: 112px;
  background-position: -2px -2px;
}

.icon-punch {
  width: 35px; height: 33px;
  background-position: -175px -83px;
}

.icon-shield {
  width: 35px; height: 39px;
  background-position: -175px -2px;
}

.icon-truck {
  width: 53px; height: 39px;
  background-position: -118px -2px;
}

.icon-vk {
  width: 30px; height: 30px;
  background-position: -2px -161px;
}