/* ==========================================================================
  #TITLE
   ========================================================================== */

.title {
  @include fluid-type($min_width, $max_width, 24px, 48px);

  margin-top: 0;
  font-weight: 800;
  line-height: 1.3;
  color: $primary-color;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 62em) {
    line-height: 1.125;
  }
}


.title .bigger,
.title .smaller {
  display: block;
}


.title--hero {
  @include fluid-type($min_width, $max_width, 24px, 42px);

  margin-bottom: 12px;

  @media (min-width: 62em) {
    text-align: left;
  }
}


.title--about {
  margin-bottom: 48px;

  @media (min-width: 90em) {
    margin-bottom: 60px;
  }
}


.title--banner {
  @include fluid-type($min_width, $max_width, 22px, 44px);

  text-align: left;
}


.title--banner-price {
  max-width: 690px;
  margin-bottom: 40px;

  @media (max-width: 47.99em) {
    text-align: center;
  }
}


.title--products {
  margin-bottom: 36px;
}


.title--banner-design {
  @include fluid-type($min_width, $max_width, 22px, 40px);

  margin-bottom: 16px;

  @media (max-width: 61.99em) {
    text-align: center;
  }
}


.title--quality {
  margin-bottom: 16px;
  text-align: left;


  @media (min-width: 62em) {
    margin-bottom: 20px;
    line-height: 1.08;
  }
}


.title--delivery-top {
  margin-bottom: 36px;
  text-align: left;

  @media (min-width: 62em) {
    margin-bottom: 44px;
  }
}


.title--delivery-bottom {
  @include fluid-type($min_width, $max_width, 28px, 56px);

  margin-bottom: 10px;

  @media (min-width: 62em) {
    text-align: left;
  }
}


.title--portfolio {
  margin-bottom: 48px;

  @media (min-width: 90em) {
    margin-bottom: 60px;
  }
}


.title--docs {
  margin-bottom: 48px;

  @media (min-width: 80em) {
    margin-bottom: 50px;
  }
}


.title--reviews {
  margin-bottom: 48px;

  @media (min-width: 80em) {
    margin-bottom: 55px;
  }
}


.title--team {
  margin-bottom: 18px;

  @media (min-width: 62em) {
    text-align: left;
  }
}


.title--banner-dealer {

  @media (max-width: 61.99em) {
    margin-bottom: 8px;
  }
}


.title--banner-consult {
  margin-bottom: 20px;

  @media (min-width: 80em) {
    margin-bottom: 32px;
  }
}


.title--trust {
  margin-bottom: 20px;
  text-align: left;

  @media (min-width: 62em) {
    margin-bottom: 28px;
  }
}


.title--accreditation {
  margin-bottom: 24px;
  text-align: left;
}

.title--contacts {
  @include fluid-type($min_width, $max_width, 24px, 36px);

  margin-bottom: 48px;
  text-align: left;

  @media (min-width: 80em) {
    margin-bottom: 62px;
    transform: skewX(30deg);
    text-align: center;
    color: rgba(255, 255, 255, .6);
  }
}


.title--banner-sale {
  @include fluid-type($min_width, $max_width, 32px, 56px);

  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  @media (max-width: 79.99em) {
    text-align: center;
    justify-content: center;
  }

  @media (min-width: 80em) {
    
  }
}


.title--banner-sale .bigger {
  margin-right: 24px;
}

.title--banner-sale .smaller {
  @include fluid-type($min_width, $max_width, 14px, 20px);

  text-transform: none;
}


.title--banner-quality {
  @include fluid-type($min_width, $max_width, 24px, 50px);

  margin-bottom: 16px;
  text-align: center;

  @media (min-width: 48em) {
    text-align: left;
  }
}


.title--budo-colors {
  @include fluid-type($min_width, $max_width, 24px, 46px);

  margin-bottom: 40px;
}


.title--budo-benefits {
  margin-bottom: 48px;

  @media (min-width: 80em) {
    margin-bottom: 64px;
  }
}


.title--budo-audience {
  text-align: center;
  margin-bottom: 46px;
}


.title--budo-features {
  margin-bottom: 36px;

  @media (min-width: 36em) {
    display: flex;
    align-items: baseline;
  }

  @media (min-width: 80em) {
    margin-bottom: 44px;
  }
}


.title--budo-features .bigger {
  margin-right: 16px;
}


.title--budo-features .smaller {
  @include fluid-type($min_width, $max_width, 16px, 24px);

  color: $text-darker;
}


.title--budo-calc {
  margin-bottom: 40px;
}


.title--child-about {
  margin-bottom: 38px;

  @media (min-width: 36em) {
    text-align: left;
  }
}


.title--child-benefits {
  margin-bottom: 48px;

  @media (min-width: 80em) {
    margin-bottom: 64px;
  }
}


.title--mat-about {
  margin-bottom: 16px;

  @media (min-width: 62em) {
    text-align: left;
  }
}


.title--mat-colors {
  @include fluid-type($min_width, $max_width, 24px, 48px);

  margin-bottom: 32px;
}


.title--mat-options {
  margin-bottom: 30px;
}


.title--tatami-about {
  @include fluid-type($min_width, $max_width, 24px, 44px);

  margin-bottom: 20px;

  @media (min-width: 62em) {
    text-align: left;
    margin-top: 28px;
  }
}


.title--tatami-calc {
  @include fluid-type($min_width, $max_width, 24px, 46px);

  margin-bottom: 40px;

  @media (min-width: 80em) {
    margin-bottom: 50px;
  }
}


.title--banner-equipment {
  @include fluid-type($min_width, $max_width, 24px, 36px);

  margin-bottom: 32px;
  max-width: 840px;
}


.title--tatami-about {
  margin-bottom: 12px;

  @media (min-width: 62em) {
    text-align: left;
  }
}


.title--carpet-calc,
.title--carpet-colors {
  @include fluid-type($min_width, $max_width, 22px, 46px);

  margin-bottom: 36px;
}


.title--carpet-colors:not(:first-child) {
  padding-top: 24px;

  @media (min-width: 80em) {
    padding-top: 50px;
  }
}


.title--roll-about {
  @include fluid-type($min_width, $max_width, 24px, 44px);

  margin-bottom: 32px;

  @media (min-width: 62em) {
    text-align: left;
  }
}


.title--roll-calc {
  margin-bottom: 24px;
}


.title--mma-features {
  margin-bottom: 32px;
  
  @media (min-width: 62em) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}


.title--mma-features .bigger {
  

  @media (min-width: 62em) {
    margin-right: 32px;
  }
}


.title--mma-features .smaller {
  @include fluid-type($min_width, $max_width, 18px, 26px);

  color: $secondary-color;
  text-transform: none;
}


.title--mma-logo {
  @include fluid-type($min_width, $max_width, 20px, 36px);

  margin-bottom: 8px;

  @media (min-width: 62em) {
    margin-bottom: 0;
  }
}


.title--tile-colors {
  @include fluid-type($min_width, $max_width, 24px, 46px);

  margin-bottom: 32px;
}


.title--tile-benefits {
  @include fluid-type($min_width, $max_width, 24px, 44px);

  margin-bottom: 48px;
}


.title--ring-about {
  margin-bottom: 30px;
}


.ring-about__top .title--ring-about,
.ring-about__bottom .title--ring-about {
  text-align: left;
}


.title--ring-about .smaller {
  @include fluid-type($min_width, $max_width, 18px, 26px);

  display: inline-block;
  vertical-align: baseline;
  color: $secondary-color;
  text-transform: none;
}


.title--ring-logo {
  @include fluid-type($min_width, $max_width, 20px, 36px);

  margin-bottom: 8px;

  @media (min-width: 62em) {
    margin-bottom: 0;
  }
}


.title--wall-about {
  margin-bottom: 30px;
  text-align: left;
}


.title--wall-features {
  margin-bottom: 48px;

  @media (min-width: 80em) {
    margin-bottom: 70px;
  }
}


.title--modal-banner {
  @include fluid-type($min_width, $max_width, 20px, 50px);

  color: #fff;
  text-align: left;
  margin-bottom: 20px;
}