/* ==========================================================================
  #TITLE
   ========================================================================== */

.title {
  @include fluid-type($min_width, $max_width, 28px, 48px);

  margin-top: 0;
  font-weight: 800;
  line-height: 1.125;
  color: $primary-color;
  text-align: center;
  text-transform: uppercase;
}


.title--hero {
  @include fluid-type($min_width, $max_width, 28px, 42px);

  margin-bottom: 12px;

  @media (min-width: 62em) {
    text-align: left;
  }
}


.title--about {
  margin-bottom: 48px;

  @media (min-width: 90em) {
    margin-bottom: 60px;
  }
}


.title--banner {
  @include fluid-type($min_width, $max_width, 28px, 44px);

  text-align: left;
}


.title--banner-price {
  max-width: 690px;
  margin-bottom: 40px;
}


.title--products {
  margin-bottom: 36px;
}


.title--banner-design {
  @include fluid-type($min_width, $max_width, 28px, 40px);

  margin-bottom: 16px;

  @media (max-width: 61.99em) {
    text-align: center;
  }
}


.title--quality {
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.08;
}


.title--delivery-top {
  margin-bottom: 44px;
  text-align: left;
}


.title--delivery-bottom {
  @include fluid-type($min_width, $max_width, 32px, 56px);

  margin-bottom: 10px;

  @media (mmin-width: 62em) {
    text-align: left;
  }
}


.title--portfolio {
  margin-bottom: 48px;

  @media (min-width: 90em) {
    margin-bottom: 60px;
  }
}


.title--docs {
  margin-bottom: 50px;
}


.title--reviews {
  margin-bottom: 55px;
}


.title--team {
  margin-bottom: 45px;
}


.title--banner-consult {
  margin-bottom: 32px;
}


.title--trust {
  margin-bottom: 28px;
  text-align: left;
}


.title--accreditation {
  margin-bottom: 24px;
  text-align: left;
}

.title--contacts {
  @include fluid-type($min_width, $max_width, 32px, 36px);

  color: rgba(255, 255, 255, .6);
  transform: skewX(30deg);
  margin-bottom: 62px;
}