/* ==========================================================================
  #VIDEO-BOX
   ========================================================================== */



.video-box__wrapper--about {
  border-radius: 20px;
  overflow: hidden;


  @media (min-width: 90em) {
    width: 670px;
  }

  @media (max-width: 61.99em) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 47.99em) {
    width: 90%;
  }

  @media (max-width: 35.99em) {
    width: 100%;
  }
}


.video-box {
  position: relative;
  width: 100%;
  height: 0%;
  padding-top: 100%;
}


.video-box--about {
  padding-top: 60.746268%;
}


.video-box > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-box iframe {
  display: none;
}


.video-box__btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}


.video-box__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, .65);
}


.video-box__btn img {
  display: block;
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  width: 84.179%;
  opacity: 0.3;
  z-index: 10;
}


.video-box__btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  transition: opacity 0.25s ease-out;


  @media (max-width: 35.99em) {
    transform: translate(-50%, -50%) scale(0.7);
  }


  &:hover {
    opacity: 1;
  }
}




