section.contacts
  .container
    .contacts__inner
      .contacts__block
        h2.title.title--contacts Наши контакты
        
        ul.contacts-list
          li.contacts-list__item
            a.contacts-list__item-link.contacts-list__item-link--phone(
              href="tel:+78003014788"
            ) <span class="contacts-list__item-link--lighter">+7 (800)</span> 301-47-88
            span.contacts-list__item-info <b>(9.00-21.00)</b>
          li.contacts-list__item
            a.contacts-list__item-link.contacts-list__item-link--phone(
              href="tel:+74951850488"
            ) <span class="contacts-list__item-link--lighter">+7 (495)</span> 185-04-88
            span.contacts-list__item-info <b>(9.00-21.00)</b>
          li.contacts-list__item
            a.contacts-list__item-link.contacts-list__item-link--email(
              href="mailto:sales@euromatsport.ru"
            ) sales@euromatsport.ru
            span.contacts-list__item-info <b>- Напишите нам</b>
          li.contacts-list__item
            span.contacts-list__item-info.contacts-list__item-info--address Россия, 129281  г. Москва, ул. Попова, д. 20, оф. 123

  .map#map
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c8fb5b44-b446-4614-95fb-55f6bbebe5c3&lang=ru_RU" type="text/javascript"></script>
