extends _template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'

block content
  include _modules/s-hero/hero
  include _modules/s-banner/sale
  include _modules/s-banner/banner-price
  include _pages/budo/colors
  include _modules/s-banner/banner-design
  include _modules/s-quality/quality
  include _modules/s-banner/quality
  include _pages/budo/benefits
  include _modules/s-delivery/delivery
  include _modules/s-trust/trust
  include _modules/s-docs/docs
  include _modules/s-portfolio/portfolio
  include _modules/s-products/products
  include _modules/s-banner/banner-consult
  include _modules/s-about/about
  include _modules/s-reviews/reviews
  include _modules/s-contacts/contacts
  