section.about(style="background-image: url(img/general/pattern-1.png), url(img/general/pattern-2.png)")
  .container
    h2.title.title--about О компании
    .about__grid.pure-g
      .pure-u-1.pure-u-lg-1-2
        ul.about-list
          li.about-list__item
            span.icon.icon-punch
            p.about-list__item-text
              | 100% соответствие потребностям разных видов единоборств
          li.about-list__item
            span.icon.icon-bank
            p.about-list__item-text
              | Безопасная сделка,
              br
              | быстрая оплата
          li.about-list__item
            span.icon.icon-truck
            p.about-list__item-text
              | Доставка заказа от 1 дня
          li.about-list__item
            span.icon.icon-shield
            p.about-list__item-text
              | Ориентация на максимальную безопасность и комфорт спортсменов
          li.about-list__item
            span.icon.icon-cup
            p.about-list__item-text
              | 15 лет на рынке
              br
              | спортивных покрытий
          li.about-list__item
            span.icon.icon-like
            p.about-list__item-text
              | Безусловная любовь к тому,
              br
              | что мы делаем

      .pure-u-1.pure-u-lg-1-2
        .video-box__wrapper.video-box__wrapper--about
          .video-box.video-box--about
            a.video-link(
              href="https://www.youtube.com/embed/W2152BJtL1Y",
              data-fancybox,
              data-width="640",
              data-height="360"
            )
            button.video-box__btn
              span.icon.icon-play-button
              img(src="img/general/logo-white.png", alt="")
