section.banner.banner--design(style="background-image: url(img/backgrounds/bg-design.jpg);")
  .container
    .d-flex-wrapped
      .banner-design__left
        h2.title.title--banner.title--banner-design Оформление залов под ключ
        p.banner-design__subtitle Сделаем дизайн-проект будующего зала и оформим его под ключ
        button.button оставить заявку <span class="extra-text">и Узнать больше</span>

      .banner-design__right
        img.banner-design__img(src="img/content/3d.png", alt="")