section.banner.banner--design.banner-design(style="background-image: url(img/backgrounds/bg-design.jpg);")
  .container
    .d-flex-wrapped
      .banner-design__left
        h2.title.title--banner.title--banner-design Оформление залов под ключ
        p.banner-design__subtitle Сделаем дизайн-проект будующего зала и оформим его под ключ
        button.button(
          type="button",
          data-micromodal-trigger="modal-form-bid"
        )
          | оставить заявку <span class="button-extra-text">и Узнать больше</span>

      .banner-design__right
        object.banner-design__img.js-object-svg(type="image/svg+xml" data="img/content/hall.svg")
          img.lozad(data-src="img/content/hall.png")


