section.banner.banner--price.lozad(data-background-image="img/backgrounds/bg-price.jpg")
  .container
    h2.title.title--banner.title--banner-price
      | гарантированно низкая цена от производителя
    button.button(
      type="button",
      data-micromodal-trigger="modal-form-price"
    ) Получить прайс-лист
  