section.banner.banner--price(style="background-image: url(img/backgrounds/bg-price.jpg);")
  .container
    h2.title.title--banner.title--banner-price
      | гарантированно низкая цена от производителя
    button.button(
      data-micromodal-trigger="modal-form-price"
    ) Получить прайс-лист
  