section.banner.banner-quality(style="background-image: url(img/background/bg-quality.jpg);")
  .container
    .banner-quality__grid
        h2.title.title--banner.title--banner-quality Качество Euromat
        p.banner-quality__subtitle
          | Маты соответствующие международным стандартам WKF и WTF
        img(src="img/content/mark-made-in.png", alt="")