section.banner.banner-quality(style="background-image: url(img/backgrounds/bg-quality.jpg);")
  .container
    .banner-quality__grid
      .banner-quality__text
        h2.title.title--banner.title--banner-quality Качество Euromat
        p.banner-quality__subtitle
          | Маты соответствующие международным
          br
          | стандартам WKF и WTF

      img.banner-quality__img(src="img/content/mark-made-in.png", alt="")
