/* ==========================================================================
  #BANNER
   ========================================================================== */


.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* #Banner-price
   ========================================================================== */

.banner--price {
  padding-top: 60px;
  padding-bottom: 64px;

  @media (min-width: 80em) {
    padding-bottom: 80px;
  }
}


/* #Banner-design
   ========================================================================== */

.banner--design {
  padding-top: 56px;
  padding-bottom: 64px;


  @media (min-width: 62em) {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}


.banner-design__left {
  width: 100%;
  
  @media (max-width: 61.99em) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 62em) {
    width: 66.666666%;
  }
}


.banner-design__right {
  width: 100%;
  order: -1;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: 62em) {
    width: 33.333333%;
    order: 0;
  }
}


.banner-design__subtitle {
  @include fluid-type($min_width, $max_width, 20px, 30px);

  font-weight: bold;
  line-height: 1.15;
  max-width: 610px;
  margin-bottom: 42px;
}


.banner-design__img {
  position: relative;
  display: inline-block;
  width: 200px;
  max-width: none;
  
  filter: drop-shadow(0 30px 16px rgba(0, 0, 0, 0.5));


  @media (min-width: 62em) {
    
    width: 280px;
  }

  @media (min-width: 80em) {
    right: -80px;
    width: 300px;
    margin-top: -46px;
  }

  @media (min-width: 90em) {
    right: -112px;
    width: 395px;
  }
}


/* #Banner-dealer
   ========================================================================== */

.banner-dealer {
  padding-top: 56px;
  padding-bottom: 40px;
}


.banner-dealer__subtitle {
  font-weight: 500;
  font-size: rem(20);
  margin-bottom: 20px;
}


.banner-dealer__list {
  display: flex;
  margin-bottom: 50px;
}


.banner-dealer__list-item {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: $secondary-color;
  margin-right: 35px;
}


.banner-dealer__list-item:last-child {
  margin-right: 0;
}


.banner-dealer__list-item .icon {
  flex: none;
  margin-right: 8px;
}


/* #Banner-consult
   ========================================================================== */

.banner-consult__grid {
  display: flex;

  @media (max-width: 47.99em) {
    flex-wrap: wrap;
  }
}


.banner-consult__col-left {
  width: 100%;
  flex-shrink: 0;
  padding-top: 64px;
  padding-bottom: 48px;
  padding-right: 30px;

  @media (min-width: 48em) {
    width: 50%;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  @media (min-width: 62em) {
    width: 60%;
    padding-top: 100px;
  }
}


.banner-consult__col-right {
  width: 100%;
  flex-shrink: 0;

  @media (min-width: 48em) {
    width: 50%;
  }

  @media (min-width: 62em) {
    width: 40%;
  }

  @media (min-width: 80em) {
    width: 45.614%;
  }
}


.banner-consult__lead {
  font-weight: 600;
  font-size: rem(18);

  @media (min-width: 80em) {
    font-size: rem(24);
  }
}


.banner-consult__form-wrapper {
  position: relative;
  height: 100%;
  padding: 44px 36px;
  background-color: $primary-color;

  @media (min-width: 80em) {
    transform: skewX(-30deg);
    padding: 56px 70px 56px 90px;
  }


  @media (min-width: 100em) {
    right: -70px;
  }
}




