/* ==========================================================================
   #CONFIDENCE
   ========================================================================== */

.confidence {
  padding-top: 64px;
  padding-bottom: 20px;

  @media (min-width: 80em) {
    padding-top: 80px;
  }
}


.confidence__grid {
  margin-left: -15px;
  margin-right: -15px;
}


.confidence__col-left {
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 62em) {
    padding-right: 7%;
    margin-bottom: 0;
  }
}


.confidence__col-right {
  padding-left: 15px;
  padding-right: 15px;
}


/* #Trust
   ========================================================================== */

.trust-subtitle {
  font-weight: 500;
  font-size: rem(18);
  margin-bottom: 6px;

  @media (min-width: 62em) {
    font-size: rem(22);
  }

  b {
    font-weight: bold;
  }
}


.trust-text {
  margin-bottom: 36px;

  @media (min-width: 80em) {
    margin-bottom: 48px;
  }
}


.trust-logos {
  display: flex;
  margin-bottom: 60px;
}


.trust-logo {
  display: inline-block;
  margin-right: 24px;

  @media (min-width: 48em) {
    margin-right: 50px;
  }

  &:last-child {
    margin-right: 0;
  }
}


.trust-slider__title {
  font-weight: bold;
  font-size: rem(20);
  text-transform: uppercase;
  margin-bottom: 36px;

  @media (max-width: 35.99em) {
    text-align: center;
  }
}


/* #Accreditation
   ========================================================================== */

.accreditation-text {
  margin-bottom: 48px;
  font-weight: bold;

  @media (min-width: 80em) {
    margin-bottom: 86px;
  }
}


.accreditation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}


.accreditation-list__item {
  width: 33.333333%;
  margin-bottom: 36px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: rem(10);
  text-align: center;

  @media (min-width: 36em) {
    width: 25%;
  }
}


.accreditation-list__item img {
  display: inline-block;
  margin-bottom: 16px;
  border-radius: 50%;
  filter: grayscale(1);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.accreditation-list__item:hover img {
  filter: grayscale(0);
}


.accreditation-list__item span {
  display: block;
}


