/* ==========================================================================
  #FOOTER
   ========================================================================== */

.footer {
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: $text-dark;
}


.footer__content {
  color: #fff;
}


.footer__info {
  position: relative;
  margin-right: auto;

  @media (max-width: 47.99em) {
    width: 100%;
    padding-bottom: 24px;
    margin-bottom: 36px;

    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 160px;
      height: 1px;
      border-top: 1px solid #fff;
    }
  }
}


.footer-requisites {
  font-size: rem(14);
}


.footer-requisites__title {
  margin-bottom: 16px;
  font-size: inherit;
  font-weight: bold;
}


.footer-requisites__list {
  margin-bottom: 12px;

  @media (min-width: 62em) {
    display: flex;
    flex-wrap: wrap;
  }
}


.footer-requisites__col {
  display: flex;
  flex-direction: column;
}


.footer-requisites__col--1 {
  margin-right: 32px;

  @media (min-width: 62em) {
    margin-right: 48px;
  }
}


.footer-requisites__col--2 {
  margin-right: 32px;
}


.footer-requisites__col--3 .footer-requisites__item {
  margin-top: auto;
}


.footer-requisites__item + .footer-requisites__item {
  margin-top: 12px;
}


.footer-address {
  font-style: normal;
}

