/* ==========================================================================
  #HEADER
   ========================================================================== */

.header {
  position: relative;
}


.header-top {
  background-color: #eee;
  display: none;

  @media (min-width: 62em) {
    display: block;
  }
}


.header-top__content {
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


.header-cities {
  margin-right: auto;
  font-size: rem(14);
}


.header-cities .icon {
  position: relative;
  top: 2px;
  margin-right: 14px;
  vertical-align: baseline;
}


.header-cities__link {
  font-weight: 600;
}


.header-members {
  font-size: rem(14);
}


.header-members--primary {
  display: flex;
  align-items: center;
}


.header-members--primary .header-members__text {

  @media (min-width: 62em) {
    margin-right: 16px;
  }
}


.header-members--mobile .header-members__text {
  margin-bottom: 12px;
}


.header-members__flags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.header-members--primary {
  display: none;

  @media (min-width: 62em) {
    display: flex;
    flex-wrap: nowrap;
  }
}


.header-members__flags .icon {
  margin-right: 16px;
}


.header-members__flags .icon:last-child {
  margin-right: 0;
}


.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
  z-index: 9999;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);

  @media (min-width: 62em) {
    position: relative;
  }
}


.header-main__content {
  height: 72px;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
  

  @media (min-width: 62em) {
    min-height: 96px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}


.header-contacts {
  display: none;

  @media (min-width: 62em) {
    display: flex;
    margin-right: auto;
  }
}


.header-contacts__item {
  margin-right: 48px;
  text-align: center;

  @media (min-width: 80em) {
    margin-right: 56px;
  }

  @media (min-width: 100em) {
    margin-right: 68px;
  }

  &:last-child {
    margin-right: 0;
  }
}


.header-contacts__link {
  @include fluid-type($min_width, $max_width, 16px, 24px);

  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}


.header-contacts__notes {
  display: block;
  font-size: rem(14);
  color: #464646;

  @media (min-width: 100em) {
    font-size: rem(15);
  }
}


.header-bottom {
  color: #fff;
  background-color: $primary-color;
  display: none;

  @media (min-width: 48em) {
    display: block;
    margin-top: 72px;
  }

  @media (min-width: 62em) {
    margin-top: 0;
  }
}
