/* ==========================================================================
   #HERO
   ========================================================================== */

.hero {
  position: relative;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.hero__top {
  margin-bottom: 60px;

  @media (min-width: 62em) {
    padding-top: 100px;
  }


  @media (min-width: 80em) {
    padding-top: 156px;
  }
}


.hero__text {
  width: 100%;
  margin-top: 72px;
  text-align: center;

  @media (min-width: 62em) {
    width: 57.36842105263158%;
    margin-top: 135px;
    margin-right: 7%;
    text-align: left;
  }
}


.hero__subtitle {
  font-weight: 600;
  font-size: rem(16);
  margin-bottom: 48px;

  @media (min-width: 80em) {
    font-size: rem(20);
  }
}


.hero-widget {
  width: 324px;
  flex-shrink: 0;


  @media (max-width: 61.99em) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 62em) {
    margin-top: 40px;
  }
}


.hero-widget__inner {
  padding: 24px 30px 30px 30px;
  border-radius: 20px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}


.hero-widget__title {
  font-weight: 800;
  font-size: rem(18);
  line-height: 1.2;
  color: $secondary-color;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px;
}


.hero-widget__timer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}


.hero-widget__timer-item {
  width: 77px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}


.hero-widget__timer-top,
.hero-widget__timer-bottom {
  display: block;
  height: 42px;
  line-height: 1.125;
  white-space: nowrap;
  color: #eee;
}


.hero-widget__timer-top  {
  padding-top: 5px;
  font-size: 33px;
  background-image: linear-gradient(to bottom, #6a6a6a 0%, #333 100%);
}


.hero-widget__timer-bottom  {
  padding-top: 10px;
  border-top: 1px solid #252525;
  font-size: 16px;
  background-image: linear-gradient(to top, #6a6a6a 0%, #333 100%);
}


.hero-slider__item {
  text-align: center;
  padding-top: 25px;
  transition: opacity 0.3s ease-out;
}


.hero-slider:hover .hero-slider__item:not(:hover) {
  opacity: 0.4;
}


.hero-slider__item .icon-martial {
  margin-bottom: 6px;
  transition: transform 0.3s ease-out;
}


.hero-slider__item:hover .icon-martial {
  transform: scale(1.1);
}


.hero-slider__item-title {
  display: block;
  font-weight: 800;
  font-size: rem(13);
  line-height: 1.125;
  color: $text-darker;
  text-transform: uppercase;

  @media (min-width: 36em) {
    font-size: rem(14);
  }

  @media (min-width: 62em) {
    font-size: rem(15);
  }
}


/* #hero-main__slider
   ========================================================================== */

.hero-main__slider {
  
}


.hero-main__slider-item {
  position: relative;
  padding-bottom: 210px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}


.hero-main__slider-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #d7d5db, rgba(#fff, 0.2));
  z-index: 1;
}


.hero-main__slider-item .container {
  position: relative;
  z-index: 2;
}

