/* ==========================================================================
   #MAT-COLORS
   ========================================================================== */

.mat-colors {
  padding-top: 55px;
  background-repeat: no-repeat;
  background-position: bottom right;
}


.mat-colors__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.75%;
  margin-right: -1.75%;
}


.mat-colors__item {
  width: 50%;
  margin-bottom: 36px;
  padding-left: 1.75%;
  padding-right: 1.75%;
  

  @media (min-width: 36em) {
    width: 33.333333%;
  }

  @media (min-width: 48em) {
    width: 25%;
  }

  @media (min-width: 62em) {
    width: 20%;
  }
}


.mat-colors__item-foot {
  padding-top: 16px;
  text-align: center;
}


.mat-colors__item-title {
  display: block;
  font-weight: bold;
  font-size: rem(16);
  line-height: 1.25;

  @media (min-width: 80em) {
    font-size: rem(18);
  }
}


.mat-colors__item-subtitle {
  display: block;
  font-size: rem(14);

  @media (min-width: 80em) {
    font-size: rem(16);
  }
}