/* ==========================================================================
   #MAT-OPTIONS
   ========================================================================== */

.mat-options {
  padding-top: 60px;
  padding-bottom: 64px;
  background-image: linear-gradient(to right, #e8e7ef 0%, #f4f4f4 100%);


  @media (min-width: 80em) {
    padding-bottom: 80px;
  }
}


.mat-options__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -1.75%;
  margin-right: -1.75%;
}


.mat-options__item {
  width: 80%;
  margin-bottom: 36px;
  padding-left: 1.75%;
  padding-right: 1.75%;
  

  @media (min-width: 36em) {
    width: 50%;
  }

  @media (min-width: 48em) {
    width: 33.333333%;
  }
}


.mat-options__item-foot {
  padding-top: 20px;
  font-size: rem(14);
  text-align: center;


  @media (min-width: 80em) {
    font-size: rem(18);
  }
}


.mat-options__item-title {
  display: block;
  font-weight: bold;
}


.mat-options__item-subtitle {
  display: block;
}




