/*------------------------------------*\
  #MENU
\*------------------------------------*/

.menu__item {
  display: block;
  font-weight: bold;
  font-size: rem(13);
  text-transform: uppercase;
  user-select: none;
}

.menu__link {
  display: block;
}


.menu--primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.menu--primary .menu__item {
  transition: 0.25s ease-out;
  transform: skewX(-30deg);


  @media (min-width: 90em) {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}



.menu--primary .menu__item:focus {
  outline: none;
  opacity: 0.65;
}


.menu--primary .menu__item:hover,
.menu--primary .menu__item.is-current {
  background-color: $secondary-color;
}


.menu--primary:hover .menu__item:not(:hover) {
  opacity: 0.4;
}


.menu--primary .menu__link {
  transform: skewX(30deg);
  line-height: 1.8;
  padding: 8px 10px;
  

  @media (min-width: 80em) {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .is-scroll & {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.menu--mobile .menu__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}