/*------------------------------------*\
  #MENU
\*------------------------------------*/

.menu__item {
  display: block;
  font-weight: bold;
  font-size: rem(13);
  text-transform: uppercase;
  user-select: none;
}


.menu--primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.menu--primary .menu__item {
  transition: 0.25s ease-out;
  margin-right: 30px;
  line-height: 1.8;
}


.menu--primary .menu__item:last-child {
  margin-right: 0;
}


.menu--primary .menu__item:focus {
  outline: none;
  opacity: 0.65;
}


.menu--primary:hover .menu__item:not(:hover) {
  opacity: 0.4;
}


.menu--mobile .menu__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}