/* ==========================================================================
  #PORTFOLIO
   ========================================================================== */

.portfolio {
  padding-top: 64px;
  padding-bottom: 64px;
  background-repeat: no-repeat;
  background-position: bottom 165px left 0;

  @media (min-width: 80em) {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}


.portfolio-slider__item {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}


.portfolio-slider__item > * {
  transition: 0.3s ease-out;
}


.portfolio-slider__item.slick-center .card {
  transform: scale(1.12);
}

