/* ==========================================================================
  #PORTFOLIO
   ========================================================================== */

.portfolio {
  padding-top: 56px;
  padding-bottom: 56px;
  background-repeat: no-repeat;
  background-position: bottom 165px left 0;

  @media (min-width: 80em) {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}


.portfolio-slider__item {
  padding-top: 16px;

  &:hover {
    .card-media__content > img {
      transform: scale(1.2);
    }
  }
}


.portfolio-slider__item > * {
  transition: 0.3s ease-out;
}


.portfolio-slider__item.slick-center .card {

  @media (min-width: 62em) {
    transform: scale(1.12);
  }
}

