/* ==========================================================================
   #PRODUCT-CALC
   ========================================================================== */

.product-calc {
  padding-top: 64px;
  padding-bottom: 60px;
  background-image: linear-gradient(to right, #e8e7ef 0%, #f4f4f4 100%);
}


.product-calc__variants-title {
  margin-bottom: 16px;
  font-size: rem(14);
}


.product-calc__variants-list {
  display: flex;
  flex-wrap: wrap;
}


.product-calc__variants-list > * + * {
  border-left: 3px solid #eeeeee;
}


.product-calc__variants-item {
  font-weight: 500;
  font-size: rem(14);
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;

  @media (min-width: 48em) {
    padding-left: 24px;
    padding-right: 24px;
  }
}


/* #product-calc--roll
   ========================================================================== */

.roll-calc__options {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}


.roll-calc__options-col {
  padding-left: 15px;
  padding-right: 15px;
}


.roll-calc__options-col--left {
  margin-right: auto;
}


.roll-calc__options-col--right {
  width: 100%;
  max-width: 400px;
}


.roll-calc__options-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  @media (min-width: 62em) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


.roll-calc__options-info .content-box__label {
  margin-top: 16px;
}