/* ==========================================================================
  #PRODUCTS
   ========================================================================== */

.products {
  padding-top: 64px;
  padding-bottom: 24px;

  @media (min-width: 80em) {
    padding-bottom: 60px;
  }
}


.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px;
  margin-right: -10px;
}


.products-item {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  min-height: 260px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-top: 42px;
  border-radius: 10px;
  background-color: #f4f4f4;
  transition:
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;


  &:hover {
    background-color: #fff;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
  }


  @media (min-width: 36em) {
    width: 245px;
    min-height: 314px;
  }

  @media (min-width: 62em) {
    margin-bottom: 40px;
  }
}


.products-item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  padding: 0 8px 15px 8px;
  transition: opacity 0.3s ease-out;


  @media (min-width: 36em) {
    height: 132px;
  }
}

.products-item:hover .products-item__img {
  opacity: 0.24;
}


.products-item__img img {
  max-height: 119px;
}


.products-item__body {
  margin-bottom: 16px;
  padding: 6px;
  text-align: center;
}


.products-item__title {
  font-weight: bold;
  font-size: rem(13);
  line-height: 1.3;
  color: $text-darker;
  text-transform: uppercase;
  text-overflow: ellipsis;
  margin-bottom: 4px;

  @media (min-width: 36em) {
    white-space: nowrap;
    font-size: rem(16);
  }
}


.products-item__cost {
  font-weight: bold;
  font-size: rem(15);
  color: $secondary-color;

  @media (min-width: 36em) {
    white-space: nowrap;
    font-size: rem(18);
  }
}


.products-item__foot {
  position: relative;
  height: 49px;
  margin-top: auto;
  padding: 16px 8px;
  text-align: center;
  background-color: #dbdbdb;
  transition: background-color 0.3s ease-out;
}


.products-item:hover .products-item__foot {
  background-color: #ebebeb;
}


.products-item__more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: rem(14);
  line-height: 49px;
  color: $primary-color;
  text-transform: uppercase;
}




