/* ==========================================================================
  #QUALITY
   ========================================================================== */

.quality {
  padding-top: 56px;
  padding-bottom: 56px;

  @media (min-width: 80em) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media (min-width: 100em) {
    padding-top: 100px;
  }
}


.quality__grid {
  display: flex;
  flex-wrap: wrap;
}


.quality__col-left {
  width: 100%;

  @media (min-width: 62em) {
    width: 50%;
  }
}


.quality__col-right {
  width: 100%;
  

  @media (min-width: 62em) {
    width: 50%;
    padding-left: 6.5%;
  }

  @media (min-width: 90em) {
    padding-left: 8.333333%;
  }
}


.quality__subtitle {
  font-weight: bold;

  @media (max-width: 61.99em) {
    margin-bottom: 40px;
  }
}


.quality__list {
  font-size: rem(14);

  // @media (min-width: 36em) {
    display: flex;
  // }
}


.quality__item {
  margin-right: 16px;

  @media (min-width: 36em) {
    margin-right: 24px;
  }

  @media (min-width: 48em) {
    margin-right: 36px;
  }

  @media (min-width: 90em) {
    margin-right: 46px;
  }
}


.quality__item:last-child {
  margin-right: 0;
}


.quality__item--first {
  padding-top: 10px;
}


.quality__item img {
  display: inline-block;
  margin-bottom: 16px;
}







