/* ==========================================================================
  #REVIEWS
   ========================================================================== */

.reviews {
  padding-top: 45px;
  padding-bottom: 70px;
  background-color: #fafafa;
}