/* ==========================================================================
  #SLIDER
   ========================================================================== */

.slider__wrapper {
  position: relative;
}


.slider-item {

  &:focus {
    outline: none;
  }
}


.slider-nav__prev,
.slider-nav__next {
  position: relative;
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: transparent;
  z-index: 100;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}


.slider-nav__prev:after,
.slider-nav__next:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../img/icons/sprites/sprite-arrows.png');
  background-repeat: no-repeat;
  background-size: 36px 114px;
}


.slider-counter {
  margin-left: 22px;
  margin-right: 22px;
  font-weight: bold;
  font-size: rem(14);
  color: $text-darker;
}


.slider-counter__current {
  font-size: rem(24);
  color: $secondary-color;
}


/* #Slider-nav--shevrons
   ========================================================================== */

.slider-nav--shevrons .slider-nav__prev:after,
.slider-nav--shevrons .slider-nav__next:after {
  width: 21px;
  height: 31px;
}


.slider-nav--shevrons .slider-nav__prev:after {
  background-position: -2px -81px;
}


.slider-nav--shevrons .slider-nav__next:after {
  background-position: -2px -46px;
}


/* #Slider-nav--arrows
   ========================================================================== */

.slider-nav--arrows .slider-nav__prev:after,
.slider-nav--arrows .slider-nav__next:after {
  width: 32px;
  height: 18px;
}


.slider-nav--arrows .slider-nav__prev:after {
  background-position: -2px -2px;
}


.slider-nav--arrows .slider-nav__next:after {
  background-position: -2px -24px;
}


/* #Slider--portfolio
   #Slider--hero
   #Slider--reviews
   #Slider--team
   ========================================================================== */

.slider--hero {
  padding-left: 50px;
  padding-right: 50px;
}

.slider--portfolio,
.slider--reviews {
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: 48em) and (max-width: 79.99em) {
    padding-left: 50px;
    padding-right: 50px;
  }
}


.slider-item--portfolio,
.slider-item--reviews {
  margin-left: 20px;
  margin-right: 20px;
}


.slider-nav--portfolio,
.slider-nav--reviews {

  @media (max-width: 47.99em) {
    display: none;
  }
}


.slider-nav--hero > *,
.slider-nav--portfolio > *,
.slider-nav--reviews > * {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
}


.slider-nav--portfolio .slider-nav__prev,
.slider-nav--reviews .slider-nav__prev {
  left: 0;
  transform: translate(0%, -50%);

  @media (min-width: 80em) {
    transform: translate(-150%, -50%)
  }
}


.slider-nav--portfolio .slider-nav__next,
.slider-nav--reviews .slider-nav__next {
  right: 0;
  transform: translate(0%, -50%);

  @media (min-width: 80em) {
    transform: translate(150%, -50%);
  }
}


.slider-nav--hero .slider-nav__prev {
  left: 0;
  transform: translate(0%, -50%);
}


.slider-nav--hero .slider-nav__next {
  right: 0;
  transform: translate(0%, -50%);
}


.slider--portfolio .slick-list,
.slider--reviews .slick-list,
.slider--team .slick-list {
  padding-bottom: 10px !important;
}


.slider--team {
  margin-left: -8px;
  margin-right: -8px;

  @media (min-width: 48em) {
    margin-left: -15px;
    margin-right: -15px;
  }
}


.slider-item--team {
  margin-left: 8px;
  margin-right: 8px;

  @media (min-width: 48em) {
    margin-left: 15px;
    margin-right: 15px;
  }
}


.slider-nav--team {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}


.slider-nav--team .slider-nav__prev,
.slider-nav--team .slider-nav__next {
  width: 44px;
  height: 44px;
}


.slider-nav--team .slider-nav__prev {
  margin-left: auto;
}


.slider-nav--team .slider-nav__next {
  margin-right: auto;
}


.slider-nav--team .slider-nav__prev:after,
.slider-nav--team .slider-nav__next:after {
  transform: translate(-50%, -50%) scale(0.64);
}


/* #Slider--trust
   ========================================================================== */

.slider__wrapper--trust {
  margin-bottom: 80px;

  @media (min-width: 62em) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.slider-nav--trust {
  display: flex;
  width: 144px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 36em) {
    position: absolute;
    top: -7px;
    right: 0;
  }

  > * {
    width: 44px;
    height: 44px;
  }
}


