/* ==========================================================================
   #TATAMI-CALC
   ========================================================================== */

.tatami-calc {
  padding-top: 66px;
  padding-bottom: 60px;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: bottom right;
}