/* ==========================================================================
  #TEAM
   ========================================================================== */

.team {
  padding-top: 56px;
  padding-bottom: 56px;
  background-repeat: no-repeat;
  background-position:
    bottom 165px left 0,
    bottom right;
  background-size:
    auto,
    658px auto;

  @media (min-width: 80em) {
    padding-bottom: 100px;
  }

  @media (min-width: 90em) {
    padding-bottom: 110px;
  }
}


.team__grid {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 36px;
}


.team__col {
  padding-left: 15px;
  padding-right: 15px;
}

.team__col-left {
  margin-bottom: 36px;

  @media (min-width: 62em) {
    margin-bottom: 0;
  }
}


.team__subtitle {
  font-weight: 600;
  font-size: rem(16);
  margin-bottom: 8px;

  @media (min-width: 62em) {
    font-size: rem(22);
  }
}


.team__heading {
  @include fluid-type($min_width, $max_width, 18px, 24px);

  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.team__text p {
  margin-bottom: 12px;
}
