/* ==========================================================================
  #TEAM
   ========================================================================== */

.team {
  padding-top: 55px;
  padding-bottom: 110px;
  background-repeat: no-repeat;
  background-position:
    bottom 165px left 0,
    bottom right;
  background-size:
    auto,
    658px auto;
}


.team__grid {
  margin-left: -15px;
  margin-right: -15px;
}


.team__col {
  padding-left: 15px;
  padding-right: 15px;
}

