/* ==========================================================================
   #TILE-COLORS
   ========================================================================== */

.tile-colors {
  padding-top: 50px;
  padding-bottom: 45px;
  text-align: center;
  background-image: linear-gradient(to right, #e8e7ef, #f4f4f4);
}


.tile-colors__grid {
  display: flex;
  flex-wrap: wrap;
}


.tile-colors__col-left,
.tile-colors__col-right {
  width: 100%;

  
  @media (min-width: 62em) {
    width: 50%;
  }
}


.tile-colors__heading {
  margin-bottom: 20px;
  text-align: center;
}


.tile-colors__info {
  font-weight: bold;
  font-size: rem(18);
  color: $text-darker;
  text-align: center;
  margin-bottom: 16px;

  @media (min-width: 62em) {
    font-size: rem(20);
  }
}

