section.quality
  .container
    .quality__grid
      .quality__col-left
        h2.title.title--quality Производство  сертифицировано
        p.quality__subtitle Международный сертификат системы качества ISO 9001

      .quality__col-right
        ul.quality__list
          li.quality__item.quality__item--first
            img(src="img/content/associations/iaks.png", alt="")
            p.quality__caption
              | Международная ассоциация  производителей спортивных товаров
          li.quality__item
            img(src="img/content/associations/apsi.png", alt="")
            p.quality__caption
              | Ассоциация Предприятий Спортивной индустрии  (АПСИ)