section.reviews
  .container
    h2.title.title--reviews Отзывы о нас

    .slider__wrapper.slider__wrapper--reviews
      .slider.slider--reviews.js-reviews-slider
        .slider-item.slider-item--reviews
          .card.card--reviews
            figure.card-media
              .card-media__content
                button.card-media__btn
                  span.icon.icon-play-button
            .card__foot
              img(src="img/general/card-logo.png", alt="")

        .slider-item.slider-item--reviews
          .card.card--reviews
            figure.card-media
              .card-media__content
                button.card-media__btn
                  span.icon.icon-play-button
            .card__foot
              img(src="img/general/card-logo.png", alt="")
              
        .slider-item.slider-item--reviews
          .card.card--reviews
            figure.card-media
              .card-media__content
                button.card-media__btn
                  span.icon.icon-play-button
            .card__foot
              img(src="img/general/card-logo.png", alt="")
              
        .slider-item.slider-item--reviews
          .card.card--reviews
            figure.card-media
              .card-media__content
                button.card-media__btn
                  span.icon.icon-play-button
            .card__foot
              img(src="img/general/card-logo.png", alt="")

      .slider-nav.slider-nav--shevrons.slider-nav--reviews#reviews-nav
        button.slider-nav__prev(title="Назад")
        button.slider-nav__next(title="Вперед")