section.product-about.product-about--wall(style="background-image: url(img/general/pattern-1.png), url(img/general/pattern-3.png);")
  .container
    h2.title.title--wall-about
      | Стеновые протекторы Euromat
    p.product-about__lead
      | Используются в закрытых спортивных залах и предназначаются для повышения безопасности спортсменов во время тренировок и соревнований.
    
    .product-about__foot
      .product-about__foot-content
        p.product-about__foot-heading
          | разместим на стеновом протекторе логотип вашей компании
        p.product-about__foot-subheading
          | Оставьте заявку и наш специалист свяжется с вами для подробной консультации

      button.button(
        type="button",
        data-micromodal-trigger="modal-form-bid"
      ) Оставить заявку
