section.partners
  h2.section-title.partners__title
  p.partners__subtitle
  .partners__text
  .partners__logos
    img(src="static/images/content/partners/world-gym-logo.png", alt="")
    img(src="static/images/content/partners/world-class-logo.png", alt="")

  h3.partners__h3 Федерации и союзы
  .partners-carousel__wrapper
    .partners__carousel.partners-carousel
      .partners-carousel__item
        img(src="static/images/content/partners/img-1.png", alt="")
      .partners-carousel__item
        img(src="static/images/content/partners/img-2.png", alt="")

    .carousel-nav.carousel-nav--partners.js-partners-carousel-nav
      button.carousel-nav__btn.carousel-nav__btn--prev
      button.carousel-nav__btn.carousel-nav__btn--next