section.product-about.product-about--tile(style="background-image: url(img/general/pattern-1.png), url(img/general/pattern-3.png);")
  .container
    h2.title.title--tatami-about
      | Резиновая плитка
    p.product-about__lead
      | Покрытия выдерживают экстремальные нагрузки кроссфита, спокойно переносят падения очень тяжелых предметов. Напольное покрытие для залов кроссфита, бодибилдинга, пауэрлифтинга, гиревого спорта, тренажерных залов, фитнес залов представляет собой резиновую плитку.

    .pure-g.product-about__grid
      .pure-u-1.pure-u-lg-5-12
        ul.bullet-list.bullet-list--tile-about
          h3.bullet-list__heading Характеристики:
          li.bullet-list__item
            | <b>Размер:</b> 500x500 см
          li.bullet-list__item
            | <b>Количество на 1 м<sup>2</sup>:</b>  4шт
          li.bullet-list__item
            | <b>Плотность:</b> 850 кг/м<sup>3</sup>
          li.bullet-list__item
            b Способ укладки:
            br
            | полиуретановый клей,
            br
            | напольные профиля
          li.bullet-list__item
            b Срок эксплуатации:
            br
            | до 10 лет, устойчивость к истираемости
            br
            | и к механическим повреждениям

      .pure-u-1.pure-u-lg-7-12
        img.product-about__img(
          src="https://via.placeholder.com/570x340",
          alt=""
        )

    .product-about__foot
      .product-about__foot-content
        p.product-about__foot-heading
          | разработаем плитку по индивидуальным размерам
          br
          | и разместим логотип вашей компании
        p.product-about__foot-subheading
          | Оставьте заявку и наш специалист свяжется с вами для подробной консультации

      button.button Оставить заявку


