-
  var benefit = [
    {
      img: 'star',
      title: `Привлекательный <br> внешний вид`
    },
    {
      img: 'fall',
      title: `Противоскользящий <br> эффект`
    },
    {
      img: 'boot',
      title: ` Стойкость к <br> механическим воздействиям`
    },
    {
      img: 'drop',
      title: `Долговечность <br> цвета покрытия`
    },
    {
      img: 'cold',
      title: `Стойкость к перепадам <br> температуры`
    },
    {
      img: 'spray',
      title: `Стойкость <br> к химикатам`
    },
    {
      img: 'mat',
      title: `Эластичность <br> покрытия`
    },
    {
      img: 'hammer',
      title: `Высокая <br> ремонтопригодность`
    },
  ];

section.tile-benefits
  .container
    h2.title.title--tile-benefits
      | Преимущества резиновой плитки
    .tile-benefits__list
      each item, index in benefit
        .tile-benefits__item
          span(class="icon-o icon-o-" + item.img)
          span.tile-benefits__item-text!= item.title