section.product-about.product-about--carpet(style="background-image: url(img/general/pattern-1.png);")
  .container
    h2.title.title--tatami-about
      | борцовский ковер Euromat
    p.product-about__lead
      | Большинство борцовских ковров, на сегодняшний день, - наполнены матами ППЭ, таковы стандарты международных федераций по спортивной борьбе UWW и самбо FIAS.

      .product-about__content
        img.product-about__img(
          src="img/content/carpet/carpet-img.png",
          alt=""
        )

        h3.product-about__heading
          | ППЭ Euromat –
        p
          | не будет усаживаться, затвердевать, крошиться, трескаться, впитывать влагу или гнить. Материал сохраняет максимальную упругость и амортизационные свойства в течение десятилетий.

        h3.product-about__heading
          | Борцовская покрышка Euromat –
        p
          | изготавливается из ПВХ от ведущих мировых производителей.
        p
          b
            | Для фиксации ППЭ матов и ПВХ мы можем предложить одну из трех систем крепления: на люверс, на ленту-контакт Velcro или крепление-вкладыш типа «карман».

      .product-about__foot
        .product-about__foot-content
          p.product-about__foot-heading
            | разработаем ковер по индивидуальным размерам
            br
            | и разместим на коврах логотип вашей компании
          p.product-about__foot-subheading
            | Оставьте заявку и наш специалист свяжется с вами для подробной консультации

        button.button Оставить заявку
