-
  var images = [
    {
      link: 'img/content/unions/img-1.png'
    },
    {
      link: 'img/content/unions/img-2.png'
    },
    {
      link: 'img/content/unions/img-3.png'
    },
    {
      link: 'img/content/unions/img-4.png'
    },
    {
      link: 'img/content/unions/img-5.png'
    },
    {
      link: 'img/content/unions/img-1.png'
    }
  ];


-
  var accreditation = [
    {
      link: 'img/content/accreditation/rad.png',
      title: "Всероссийская <br> универсальная <br> площадка"
    },
    {
      link: 'img/content/accreditation/ast.png',
      title: "Система торгов <br> Сбербанк - <br> АСТ"
    },
    {
      link: 'img/content/accreditation/tek.png',
      title: "Федеральная <br> электронная <br> площадка <br> ТЭК-Торг"
    },
    {
      link: 'img/content/accreditation/eetp.png',
      title: "Единая <br> электронная <br> торг. площадка"
    },
    {
      link: 'img/content/accreditation/oset.png',
      title: "Общероссийская <br> система электронной <br> торговли"
    },
    {
      link: 'img/content/accreditation/gpb.png',
      title: "Электронная <br> площадка <br> ГПБ"
    },
    {
      link: 'img/content/accreditation/rts.png',
      title: "Электронная <br> площадка <br> России"
    }
  ];


.confidence
  .container
    .confidence__grid.pure-g
      .confidence__col-left.trust.pure-u-1.pure-u-lg-7-12
        p.title.title--trust Нам доверяют
        p.trust-subtitle Наши партнеры – <b>World gym Russia и World-class</b>
        p.trust-text
          | С 2013 года в каждом новом городе где открывались фитнесс залы данных сетей в качестве производителей спортивных покрытий, рингов и клеток  для ММА выступает компания «Euromat»
        ul.trust-logos
          li.trust-logo
            img(src="img/content/partners/world-gym-logo.png", alt="")
          li.trust-logo
            img(src="img/content/partners/world-class-logo.png", alt="")
        
        .slider__wrapper.slider__wrapper--trust
          h3.trust-slider__title федерации и союзы

          .slider.slider--trust.js-trust-slider
            each image in images
              .slider-item.slider-item--trust
                img(src=image.link, alt="")

          .slider-nav.slider-nav--arrows.slider-nav--trust#trust-nav
            button.slider-nav__prev(aria-label="Предыдущий слайд")
            button.slider-nav__next(aria-label="Следующий слайд")


      .confidence__col-right.accreditation.pure-u-1.pure-u-lg-5-12
        p.title.title--accreditation Аккредитация
        p.accreditation-text
          | Мы аккредетованы на всех площадках и
          | можем учавствовать в качестве поставщика 
          | на государственных закупках

        ul.accreditation-list
          each item in accreditation
            li.accreditation-list__item
              img(src=item.link, alt="")
              span!= item.title
