-
  var images = [
    {
      link: 'img/content/portfolio/img-1.jpg'
    },
    {
      link: 'img/content/portfolio/img-2.jpg'
    },
    {
      link: 'img/content/portfolio/img-3.jpg'
    },
    {
      link: 'img/content/portfolio/img-1.jpg'
    },
    {
      link: 'img/content/portfolio/img-2.jpg'
    },
    {
      link: 'img/content/portfolio/img-3.jpg'
    },
  ];

section.portfolio(style="background-image: url(img/general/pattern-1.png);")
  .container
    h2.title.title--portfolio Реализованные проекты

    .slider__wrapper.slider__wrapper--portfolio
      .slider.slider--portfolio.js-portfolio-slider
        each image in images
          .slider-item.slider-item--portfolio
            .card.card--portfolio
              figure.card-media
                .card-media__content
                  img(src=image.link, alt="")
              .card__foot
                img(src="img/general/card-logo.png", alt="")

      .slider-nav.slider-nav--shevrons.slider-nav--portfolio#portfolio-nav
        button.slider-nav__prev(aria-label="Предыдущий слайд")
        button.slider-nav__next(aria-label="Следующий слайд")