// Colors
$primary-color: #272361;
$secondary-color: #c63337;
$text-color: #333;
$text-darker: #111;
$text-dark: #222;
$text-light: #888;

$primary-font: 'Montserrat', sans-serif;


$min_width: 320px;
$max_width: 1920px;